@import './../../../../sources/styles/include.scss';

$component: 'photo-section';
$template: 'default-2';

@keyframes c-#{$component}-#{$template} {
  from {
    @include transform-translate(-100%, -100%);
  } to {
      @include transform-translate(100%, 100%);
    }
}

$main: #{$component}-main;
$preview: #{$component}-preview;
$navigation: #{$component}-navigation;
$back: #{$component}-back;

.ns-bitrix.c-#{$component}.c-#{$component}-#{$template} {
  .#{$component}-content-block {
    padding: 32px;
    border: 1px solid #E8E8E8;

    & + .#{$component}-content-block {
      margin-top: -1px;
    }
  }
  .#{$component}-footer {
    font-size: 0;
    margin-top: 24px;
  }
  .#{$component}-loader {
    position: relative;
    background-color: #F2F2F2;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      background: linear-gradient(135deg, rgba(0, 0, 0, 0) 35%, rgba(255, 255, 255, 0.85) 50%, rgba(0, 0, 0, 0) 65%);
      z-index: 1;
      animation-name: c-#{$component}-#{$template};
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }
  .#{$component}-loader-slider {
    z-index: 2;
    @extend %border-radius-2px;
  }
  .#{$component}-loader-count {
    width: 100px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    @extend %border-radius-2px;
  }
  .#{$component}-loader-preview {
    overflow: hidden;
    padding-left: 2px;
    padding-right: 2px;
  }
  .#{$component}-loader-preview-item {
    padding: 2px;
    border: 1px solid #E8E8E8;
    @extend %border-radius-2px;
  }

  .#{$main} {
    position: relative;
    margin-left: 70px;
    margin-right: 70px;
  }
  .#{$main}-slider {
    position: relative;
    z-index: 1;

    &[data-loaded='false'] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .#{$main}-picture {
    position: relative;
    padding-top: 100% / 16 * 9;
    cursor: pointer;
  }
  .#{$main}-picture-container {
    position: absolute;
    @include sides(0, 0, 0, 0);
  }
  .#{$main}-count {
    position: relative;
    margin-top: 24px;
  }
  .#{$main}-count-content {
    position: relative;
    font-size: 14px;
    line-height: 1.29;
    color: #9A9A9A;
    text-align: center;

    &[data-loaded='false'] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .#{$preview} {
    position: relative;
    margin-left: 70px;
    margin-right: 70px;
  }
  .#{$preview}-slider {
    position: relative;
    z-index: 1;

    &[data-loaded='false'] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .#{$preview}-item {
    border: 1px solid transparent;
    padding: 2px;
    cursor: pointer;
    @include transition(.35s, border-color);

    @extend %border-radius-2px;
  }
  .#{$preview}-picture {
    padding-top: 100% /16 * 9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &[data-lazyload-use='true'] {
      background-color: #F2F2F2;
    }

    @extend %border-radius-2px;
  }

  .#{$back} {
    display: inline-block;
    overflow: hidden;
  }
  .#{$back}-button {
    display: block;
    text-decoration: none;

    &:hover {
      .#{$back}-content {
        color: inherit;
      }
    }
  }
  .#{$back}-icon {
    svg {
      path {
        stroke: #808080;
      }
    }
  }
  .#{$back}-content {
    font-size: 14px;
    line-height: 1.43;
    color: #525458;
    @include transition(.35s, color);
  }

  .#{$navigation} {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 0;
    z-index: 2;

    button {
      position: absolute;
      top: 0;
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;
      border: 1px solid #E8E8E8;
      background-color: #FFF;
      cursor: pointer;
      outline: none;
      @include transform-translate(null, -50%);
      @include transition(.35s, (background-color, border-color));

      @extend %border-radius-2px;

      svg {
        path {
          stroke: #808080;
          @include transition(.35s, stroke);
        }
      }

      &:hover {
        svg {
          path {
            stroke: #FFF;
          }
        }
      }
      &.disabled {
        background-color: #FFF!important;
        border-color: #F2F2F2!important;
        cursor: not-allowed;

        @include user-select(none);

        svg {
          path {
            stroke: #F2F2F2!important;
          }
        }
      }
    }
  }
  .#{$navigation}-left {
    left: -70px;
  }
  .#{$navigation}-right {
    right: -70px;
  }

  %border-radius-2px {
    @include border-radius(2px);
  }

  @include breakpoint-1024() {
    .#{$component}-loader-preview {
      & > div {
        & > div {
          &:nth-child(6n) {
            display: none;
          }
        }
      }
    }
  }
  @include breakpoint-768() {
    .#{$component}-content-block {
      padding: 24px 16px;
    }
    .#{$component}-loader-preview {
      padding-left: 40px;
      padding-right: 40px;

      & > div {
        & > div {
          &:nth-child(5n) {
            display: none;
          }
        }
      }
    }
    .#{$preview} {
      margin-left: 0;
      margin-right: 0;
    }
    .#{$main} {
      margin-left: 0;
      margin-right: 0;
    }
    .#{$main}-count {
      margin-top: 16px;
    }
    .#{$navigation} {
      display: none;
    }
  }
  @include breakpoint-custom(600) {
    .#{$component}-loader-preview {
      padding-left: 24px;
      padding-right: 24px;

      & > div {
        margin-left: -4px!important;
        margin-right: -4px!important;

        & > div {
          padding-left: 4px!important;
          padding-right: 4px!important;

          &:nth-child(4n) {
            display: none;
          }
        }
      }
    }
  }
  @include breakpoint-custom(450) {
    .#{$component}-loader-preview {
      padding-left: 16px;
      padding-right: 16px;

      & > div {
        margin-left: -2px!important;
        margin-right: -2px!important;

        & > div {
          padding-left: 2px!important;
          padding-right: 2px!important;

          &:nth-child(3n) {
            display: none;
          }
        }
      }
    }
  }
}