.popup-window-quick-view {
  height: 100%;
  max-height: 670px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 20px !important;
}
.popup-window-quick-view .popup-window-content {
  width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
}
.popup-window-quick-view .popup-window-content > div {
  height: 100%;
  max-height: 100% !important;
}
.popup-window-quick-view .popup-window-content > div > div {
  height: 100%;
  max-height: 100% !important;
}

.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 {
  overflow-x: hidden;
  width: 1200px;
  height: 100%;
  opacity: 1;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-name,
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-content {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-timer-block {
  max-width: 290px;
  margin-bottom: 24px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-name {
  font-size: 24px;
  line-height: 36px;
  padding-left: 35px;
  padding-right: 80px;
  margin-bottom: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-content {
  height: 100%;
  max-height: 570px;
  border-top: 1px solid #e8e8e8;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-content-left {
  height: 100%;
  max-height: 568px;
  padding: 35px 30px 30px 35px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-content-right {
  height: 100%;
  max-height: 568px;
  padding: 0 35px 0 30px;
  border-left: 1px solid #e8e8e8;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-content-right .scroll-element.scroll-y {
  right: 10px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-content-right-wrapper {
  padding-top: 35px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll.scroll-wrapper {
  height: 580px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element, .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element {
  background-color: #fff;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element.scroll-x {
  top: auto;
  right: 2px;
  bottom: 0;
  left: 2px;
  width: auto;
  height: 8px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element.scroll-x .scroll-element_outer {
  height: 4px;
  top: 2px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element.scroll-x .scroll-bar {
  min-width: 10px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track,
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element.scroll-y {
  top: 2px;
  right: 0;
  bottom: 2px;
  left: auto;
  width: 8px;
  height: auto;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 4px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track,
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element .scroll-element_outer {
  overflow: hidden;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element .scroll-element_track {
  background-color: #eeeeee;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element .scroll-bar {
  background-color: #d9d9d9;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element .scroll-element_outer,
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element .scroll-element_track,
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element .scroll-draggable .scroll-bar {
  background-color: #919191;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element .scroll-content.scroll-scrolly_visible {
  left: -12px;
  margin-left: 12px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-scroll > .scroll-element .scroll-content.scroll-scrollx_visible {
  top: -12px;
  margin-top: 12px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-marks {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-block {
  position: relative;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery {
  position: relative;
  z-index: 1;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-items {
  width: 500px;
  max-height: 500px;
  overflow: hidden;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-item {
  height: 400px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-item img {
  display: inline-block;
  width: auto;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-previews {
  width: 500px;
  max-height: 100px;
  margin-top: 25px;
  overflow: hidden;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-preview {
  width: 60px;
  height: 60px;
  padding-bottom: 10px;
  margin: 20px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -ms-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-preview img {
  display: inline-block;
  width: auto;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-quantity {
  font-size: 13px;
  color: #9f9b9b;
  padding-bottom: 25px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-quantity-text {
  opacity: 0;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-quantity-text[data-offer=false], .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-quantity-text[data-active=true] {
  opacity: 1;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-quantity i {
  padding-left: 5px;
  padding-right: 5px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-quantity-available {
  color: #5abb34;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-quantity-unavailable {
  color: #e52929;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-additional-products {
  margin-top: 16px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-price {
  white-space: nowrap;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-price-base {
  font-size: 36px;
  line-height: 36px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-price-discount {
  font-size: 14px;
  line-height: 14px;
  color: #888888;
  text-decoration: line-through;
  margin-top: 10px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-price-percent {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  color: #505050;
  padding: 5px 8px;
  margin-top: 15px;
  background-color: #fcd311;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter {
  position: relative;
  height: 100%;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter .intec-ui-control-numeric {
  overflow: hidden;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter .intec-ui .intec-ui-part-decrement, .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter .intec-ui .intec-ui-part-increment, .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter .intec-ui .intec-ui-part-increment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 52px;
  padding: 0;
  background: #FBFCFD;
  border: 0;
  font-weight: normal;
  font-size: 16px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter .intec-ui .intec-ui-part-increment-wrapper {
  width: auto;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter .intec-ui .intec-ui-part-decrement {
  border-right: 1px solid #F2F2F2;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter .intec-ui .intec-ui-part-increment {
  border-left: 1px solid #F2F2F2;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter .intec-ui .intec-ui-part-input {
  min-width: 52px;
  font-size: 14px;
  font-weight: normal;
  color: #808080;
  background: #fff;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter-max-message {
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  padding: 18px 22px;
  width: 272px;
  box-shadow: 0 0 24px rgba(27, 30, 37, 0.08);
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #404040;
  top: -86px;
  left: 68px;
  white-space: normal;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter-max-message:before {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 51px;
  border: 13px solid transparent;
  border-top: 13px solid #FFFFFF;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter-max-message-close {
  position: absolute;
  width: 10px;
  height: 10px;
  font-size: 20px;
  top: 10px;
  right: 13px;
  color: #000000;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter-max-message {
    width: 221px;
    top: -92px;
  }
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase-button {
  line-height: 0;
  color: #FFF;
  padding: 15px 25px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase-button-subscribe {
  font-size: 15px;
  line-height: 20px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase-button-content i, .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase-button-content span {
  display: inline-block;
  vertical-align: middle;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase-button-content i {
  font-size: 20px;
  padding-right: 5px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase-button-content span {
  font-size: 14px;
  line-height: 14px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase-button-add {
  display: block;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase-button-add[data-basket-state=added] {
  display: none;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase-button-added {
  display: none;
  text-decoration: none;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase-button-added[data-basket-state=added] {
  display: block;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase-button-detail {
  display: block;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-button {
  font-size: 16px;
  line-height: 0;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-button-compare, .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-button-delay {
  color: #bfc0c0;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-button-compare {
  display: block;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-button-compare[data-compare-state=added] {
  display: none;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-button-compared {
  display: none;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-button-compared[data-compare-state=added] {
  display: block;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-button-delay {
  display: block;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-button-delay[data-basket-state=delayed] {
  display: none;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-button-delayed {
  display: none;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-button-delayed[data-basket-state=delayed] {
  display: block;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers {
  margin-top: 30px;
  margin-bottom: -15px;
  min-height: 10px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers-property {
  margin-bottom: 15px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers-property-title {
  font-size: 13px;
  line-height: 13px;
  color: #242728;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers-property-values {
  font-size: 0;
  min-height: 5px;
  margin-top: 10px;
  margin-left: -3px;
  margin-right: -3px;
  margin-bottom: -5px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers-property-value {
  display: inline-block;
  font-size: 0;
  padding: 10px 12px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 5px;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: border-color, background-color, opacity;
  -moz-transition-property: border-color, background-color, opacity;
  -ms-transition-property: border-color, background-color, opacity;
  -o-transition-property: border-color, background-color, opacity;
  transition-property: border-color, background-color, opacity;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers-property-value-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 12px;
  color: #444242;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers-property-value-image {
  width: 10px;
  height: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers-property-value-image-wrap {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding: 3px;
  margin-left: 10px;
  background-color: #e9e9e9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers-property-value[data-state=selected] {
  background-color: #f6f6f6;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers-property-value[data-state=disabled] {
  background-color: #f6f6f6;
  border-color: #f6f6f6 !important;
  opacity: 0.5;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers-property-value[data-state=disabled] .catalog-element-offers-property-value-text {
  color: #6e6e6e;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-offers-property-value[data-state=hidden] {
  display: none;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-description {
  margin-top: 35px;
  font-size: 14px;
  line-height: 24px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-properties {
  margin-top: 50px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-property {
  padding-bottom: 10px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-property-text {
  position: relative;
  padding-left: 15px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-property-decoration {
  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-property-value {
  font-size: 13px;
  line-height: 18px;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-detail {
  margin-top: 40px;
  text-align: left;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-detail-button {
  display: inline-block;
  padding: 20px 36px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color, border-color;
  -moz-transition-property: color, border-color;
  -ms-transition-property: color, border-color;
  -o-transition-property: color, border-color;
  transition-property: color, border-color;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2[data-available=false] .catalog-element-counter {
  display: none;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 [data-discount=false] .catalog-element-price-discount, .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 [data-discount=false] .catalog-element-price-percent {
  display: none;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 [data-offer] {
  display: none;
}
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 [data-offer=false] {
  display: block;
}
@media all and (max-width: 1200px) {
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 {
    width: 100%;
  }
}
@media all and (max-width: 1000px) {
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-items {
    width: 300px;
    max-height: 300px;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-item {
    height: 300px;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-previews {
    width: 300px;
  }
}
@media all and (max-width: 768px) {
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 {
    width: auto;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-content-left {
    padding-bottom: 0;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-content-right {
    max-height: 100%;
    border-left: 0;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-name {
    font-size: 18px;
    line-height: 26px;
    padding-right: 75px;
    margin-bottom: 15px;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-items {
    width: 100%;
    max-height: 300px;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-item {
    height: 300px;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-gallery-previews {
    width: 100%;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-price,
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-quantity {
    text-align: center;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-price-base {
    font-size: 20px;
    line-height: 26px;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-counter {
    padding-right: 0;
    text-align: center;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-purchase {
    text-align: center;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-buttons {
    padding-left: 0;
    text-align: center;
  }
}
@media all and (max-width: 768px) {
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 {
    height: 100%;
    overflow: hidden;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-wrapper {
    height: 100%;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-name,
.ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-content {
    min-height: 1px;
  }
  .ns-bitrix.c-catalog-element.c-catalog-element-quick-view-2 .catalog-element-content {
    max-height: 100%;
  }
}

@media all and (max-width: 768px) {
  .popup-window-quick-view {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .popup-window-quick-view .popup-window-content {
    width: 100% !important;
    height: 100% !important;
  }
  .popup-window-quick-view .popup-window-content > div {
    height: 100%;
  }
  .popup-window-quick-view .popup-window-content > div > div {
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
