@import './../../../../sources/styles/include.scss';

$component: 'catalog-smart-filter';
$template: 'mobile-1';

.c-#{$component}.c-#{$component}-#{$template} {
  height: 100%;
  background-color: #FFF;

  .#{$component}-form {
    height: 100%;
  }
  .#{$component}-form-content {
    height: 100%;
  }
  .#{$component}-header {
    padding: 16px 20px;
    overflow: hidden;
  }
  .#{$component}-content {
    position: relative;
    border-top: 1px solid #F2F2F2;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 16px;
      right: 16px;
      z-index: 2;
      pointer-events: none;
    }
    &::before {
      top: 0;
      height: 16px;
      background: linear-gradient(rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
    }
    &::after {
      bottom: 0;
      height: 32px;
      background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%);
    }
  }
  .#{$component}-footer {}
  .#{$component}-title {
    overflow: hidden;
  }
  .#{$component}-title-icon {
    svg {
      path {
        stroke: #323232;
      }
    }
  }
  .#{$component}-title-text {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    color: #404040;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .#{$component}-reset {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    overflow: hidden;
    outline: none;
    @include user-select(none);
  }
  .#{$component}-reset-icon {
    display: block;

    svg {
      path {
        stroke: #E05757;
      }
    }
  }
  .#{$component}-reset-text {
    display: block;
    font-size: 13px;
    line-height: 1;
    color: #E05757;
  }
  .#{$component}-apply {
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 22px 0;
  }
  .#{$component}-properties {
    position: relative;
    height: 100%;
    padding: 16px 20px 32px 20px;
    overflow-y: scroll;
    z-index: 1;
  }
  .#{$component}-property {
    &[data-expanded='false'] {

      .#{$component}-property-icon {
        @include transform-rotate(180deg);
      }
    }
    & + .#{$component}-property {
      padding-top: 16px;
      margin-top: 16px;
      border-top: 1px solid #F2F2F2;
    }

    label {
      font-weight: 400;
      padding: 0;
      margin: 0;
    }
  }
  .#{$component}-property-header {}
  .#{$component}-property-icon {
    @include transition(.4s, transform);

    svg {
      path {
        stroke: #808080;
      }
    }
  }
  .#{$component}-property-content-toggle {}
  .#{$component}-property-content {
    padding-top: 16px;
  }
  .#{$component}-property-name {
    font-size: 14px;
    line-height: 1.45;
    color: #808080;
  }
  .#{$component}-property-hint {
    position: relative;
    z-index: 1;
  }

  .#{$component}-property-hint-content {
    display: block;
    position: absolute;
    bottom: calc(100% + 20px);
    right: -20px;
    width: 180px;
    padding: 16px;
    background-color: #fff;
    border-radius: 2px;
    word-break: break-word;
    box-shadow: 0 0 24px rgba(27, 30, 37, 0.08);

    &:before {
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      bottom: -20px;
      border: 8px solid transparent;
      border-top: 12px solid #fff;
    }

    &[data-state='hidden'] {
      display: none;
    }
  }
  .#{$component}-input-text {
    display: block;
    font-size: 14px;
    line-height: 1.43;
    color: #404040;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #F2F2F2;
    outline: none;
    @include border-radius(2px);
    @include transition(.35s, border-color);

    &:focus,
    &:active {
      border-color: #E8E8E8;
    }
  }
  .#{$component}-radio {
    font-size: 0;

    & + .#{$component}-radio {
      margin-top: 12px;
    }
  }
  .#{$component}-radio-content {
    padding: 0;
  }
  .#{$component}-checkbox-default {
    font-size: 0;

    & + .#{$component}-checkbox-default {
      margin-top: 12px;
    }
  }
  .#{$component}-checkbox-default-content {}
  .#{$component}-checkbox-custom-container {
    overflow: hidden;
  }
  .#{$component}-checkbox-custom {
    font-size: 0;

    & + .#{$component}-checkbox-custom {
      margin-top: 8px;
    }
  }
  .#{$component}-checkbox-custom-content {
    display: inline-block;

    input {
      display: none;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;

      &:checked {
        & + span {
          background-color: #FFF;
        }
      }
    }
  }
  .#{$component}-checkbox-custom-picture {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #E8E8E8;
    @include border-radius(2px);
    @include transition(.35s, border-color);
  }
  .#{$component}-checkbox-custom-picture-background {
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include border-radius(2px);
  }
  .#{$component}-checkbox-custom-text {
    font-size: 14px;
    line-height: 20px;
    color: #404040;
  }
  .#{$component}-select {
    overflow: hidden;
  }
  .#{$component}-select-content {
    display: block;
    position: relative;
    font-weight: 400;

    select {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      z-index: 1;
    }
  }
  .#{$component}-select-indicator {
    display: block;
    position: relative;
    background-color: #FFF;
    border: 1px solid #F2F2F2;
    pointer-events: none;
    z-index: 2;
    @include border-radius(2px);
  }
  .#{$component}-select-indicator-text {
    display: block;
    font-size: 14px;
    line-height: 1.43;
    color: #404040;
    padding: 12px 18px;
  }
  .#{$component}-select-indicator-icon {
    display: block;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #FBFCFD;
    border-left: 1px solid #F2F2F2;

    svg {
      path {
        stroke: #808080;
      }
    }
  }
  .#{$component}-range {
    overflow: hidden;

    & + .#{$component}-track {
      margin-top: 16px;
    }
  }
  .#{$component}-range-part {
    display: block;
    position: relative;
  }
  .#{$component}-range-sign {
    display: block;
    position: absolute;
    top: 50%;
    left: 16px;
    font-size: 14px;
    line-height: 1.43;
    color: #B0B0B0;
    text-align: center;
    width: 20px;
    @include transform-translate(null, -50%);
  }
  .#{$component}-range-input {
    padding-left: 40px;
  }
  .#{$component}-track {
    position: relative;
    height: 30px;

    & + .#{$component}-bounds {
      margin-top: 8px;
    }
  }
  .#{$component}-track-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #F2F2F2;
    @include transform-translate(null, -50%);
  }
  .#{$component}-track-line-inactive {
    z-index: 1;
  }
  .#{$component}-track-line-active {
    z-index: 2;
  }
  .#{$component}-track-line-unavailable {
    display: none;
    z-index: 3;
  }
  .#{$component}-track-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 4;
    @include transform-translate(null, -50%);
  }
  .#{$component}-track-control {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    border: 11px solid #FFF;
    @include border-radius(50%);
    @include transform-translate(null, -50%);
    @include box-shadow(0, 2px, 16px, 0, rgba(27, 30, 37, 0.12));
  }
  .#{$component}-track-control-left {
    left: 0;
    margin-left: -15px;
  }
  .#{$component}-track-control-right {
    right: 0;
    margin-right: -15px;
  }
  .#{$component}-bounds-value {
    font-size: 12px;
    line-height: 1.333333;
    color: #B0B0B0;
  }

  .#{$component}-radio-content,
  .#{$component}-checkbox-default-content,
  .#{$component}-checkbox-custom-content {
    @include transition(.35s, opacity);

    &.disabled {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}