@import './../../../../sources/styles/include.scss';

$namespace: 'bitrix';
$component: 'sale-products-gift-basket';
$template: 'template-1';
$class: #{$component};

$color-black-1: #1B1E25;
$color-black-2:#404040;
$color-gray-1: #808080;
$color-gray-2: #B0B0B0;
$color-gray-3: #E8E8E8;

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {

  .#{$class}-item {
    position: relative;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid $color-gray-3;
    z-index: 1;

    &:hover {
      z-index: 2;
    }
    & > div {
      height: 100%;
    }
  }

  .owl-carousel .#{$class}-item {
    margin-top: 0;
    margin-left: 0;
  }

  .#{$class}-header {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #1B1E25;
  }

  .gift-navigation-left,
  .gift-navigation-right {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    padding: 0;
    @include transition(0.35s, all);
    @include border-radius(2px);
    border: 1px solid #F2F2F2;
    line-height: 0;
    cursor: pointer;

    svg {
      path {
        transition: all 0.35s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: #FFF;
        }
      }
    }

    &:focus,
    &:active {
      outline: none;
    }
    &.disabled {
      opacity: 0.5;
      @include user-select(none);

      &:hover {
        background: #fff!important;
        border-color: #F2F2F2!important;

        svg {
          path {
            stroke: #808080;
          }
        }
      }
    }
  }
}