@import '../../../../../../sources/styles/include.scss';


$component: 'footer';
$template: 'template-1';
$class: #{$component};

.c-#{$component}.c-#{$component}-#{$template} {
  .widget-view .widget-view-2 {
    display: block;

    .widget-wrapper {}
    .widget-wrapper-2 {}

    .widget-parts {
      margin: 0 -30px;
      padding: 30px 0;
    }

    .widget-part {
      padding: 0 30px;
      text-align: left;

      &.widget-part-left {
        min-width: 240px;
        max-width: 320px;

        .widget-part-items {
          display: block;
          margin: -13px 0;
          overflow: hidden;
        }

        .widget-part-item {
          display: block;
          padding: 13px 0;
          color: #2d2d2d;
        }
      }

      &.widget-part-right {
        width: 300px;
        text-align: right;

        .widget-part-items {
          display: block;
          margin: -20px 0;
          overflow: hidden;
        }

        .widget-part-item {
          display: block;
          padding: 20px 0;
          color: #2d2d2d;
        }

        .widget-item-phone-wrapper {
          justify-content: flex-end;
        }
      }

      .widget-icons {
        max-width: 198px;
      }

      .widget-icon {
        &[data-icon="alfabank"] .widget-icon-image {
          background-position: -240px 0;
          width: 14px;
        }
        &[data-icon="sberbank"] .widget-icon-image {
          background-position: -294px 0;
          width: 19px;
        }
        &[data-icon="qiwi"] .widget-icon-image {
          background-position: -352px 0;
          width: 20px;
        }
        &[data-icon="yandexmoney"] .widget-icon-image {
          background-position: -413px 0;
          width: 23px;
        }
        &[data-icon="visa"] .widget-icon-image {
          background-position: -477px 0;
          width: 36px;
        }
        &[data-icon="mastercard"] .widget-icon-image {
          background-position: -552px 0;
          width: 25px;
        }
        &[data-icon="mir"] .widget-icon-image {
          background-position: -158px 0;
          width: 42px;
        }
        &[data-icon="jcb"] .widget-icon-image {
          background-position: -93px 0;
          width: 25px;
        }
        &[data-icon="paypal"] .widget-icon-image {
          background-position: 0 0;
          width: 53px;
        }
      }

      .widget-icon-image {
        display: block;
        height: 24px;
        background-size: auto;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-image: url('../../images/icons_2.png');
      }

      .widget-copyright {
        display: block;
        font-size: 13px;
        line-height: 1.5;
      }

      .widget-phone {
        display: block;
        white-space: nowrap;
      }

      .widget-phone-icon,
      .widget-phone-text {
        display: inline-block;
        vertical-align: middle;
      }

      .widget-phone-icon {
        width: 20px;
        font-size: 16px;
        line-height: 1;
        text-align: center;
        margin-right: 10px;
      }

      .widget-phone-text {
        font-size: 16px;
        font-weight: bold;
        white-space: normal;
        text-decoration: none;
        color: inherit;
      }

      .widget-phone-order {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
      }

      .widget-phone-order-wrapper {
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        color: #0065ff;
        border-bottom: 1px dashed #0065ff;

        @include transition(350ms, (color, border-color));

        &:hover {
          color: #2d2d2d !important;
          border-color: #2d2d2d !important;
        }
      }

      .widget-social {
        display: block;
        overflow: hidden;
      }

      .widget-social-title {
        display: block;
        color: #777e89;
        padding-bottom: 7px;
      }

      .widget-social-items {
        overflow: hidden;
      }

      .widget-social-item-icon {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url('../../images/icons_color_round.svg');
        background-position: 0 0;
        background-repeat: no-repeat;

        &[data-grey="true"] {
          background-image: url('../../images/icons_grey_round.svg');
        }

        &[data-social-icon-square="true"] {
          background-image: url('../../images/icons_color_square.svg');
        }

        &[data-social-icon='VK'] {
          background-position: -320px 0;
        }

        &[data-social-icon='FACEBOOK'] {
          background-position: -288px 0;
        }

        &[data-social-icon='INSTAGRAM'] {
          background-position: -384px 0;
        }

        &[data-social-icon='TWITTER'] {
          background-position: -416px 0;
        }

        &[data-social-icon='YOUTUBE'] {
          background-position: -448px 0;
        }

        &[data-social-icon='ODNOKLASSNIKI'] {
          background-position: -352px 0;
        }

        &[data-social-icon='VIBER'] {
          background-position: -224px 0;
        }

        &[data-social-icon='WHATSAPP'] {
          background-position: -256px 0;
        }

        &[data-social-icon='YANDEX_DZEN'] {
          background-position: -128px 0;
        }

        &[data-social-icon='MAIL_RU'] {
          background-position: -160px 0;
        }

        &[data-social-icon='TELEGRAM'] {
          background-position: -192px 0;
        }

        &[data-social-icon='PINTEREST'] {
          background-position: -96px 0;
        }

        &[data-social-icon='TIKTOK'] {
          background-position: -64px 0;
        }

        &[data-social-icon='SNAPCHAT'] {
          background-position: -32px 0;
        }

        &[data-social-icon='LINKEDIN'] {
          background-position: 0 0;
        }
      }

      .widget-logotype {
        display: block;
        font-size: 0;
      }

      .widget-logotype-wrapper {
        display: inline-block;
        width: 100px;
      }
    }

    @media all and (max-width: 768px) {
      .widget-parts {
        margin: -20px 0;
      }

      .widget-part {
        padding: 20px 0;

        &.widget-part-left {
          min-width: 0;
          max-width: none;
          text-align: center;
        }

        &.widget-part-right {
          width: auto;
          text-align: center;

          .widget-item-phone-wrapper {
            justify-content: center;
          }
        }

        .widget-copyright {
          text-align: center;
        }

        .widget-icons {
          max-width: none;
        }
      }
    }

    @media all and (max-width: 550px) {
      .widget-part {
        &.widget-part-left {
          text-align: left;
        }

        .widget-phone-icon {
          display: none;
        }

        .widget-logotype-wrapper {
          width: 143px;
        }

        .widget-social-item {
          font-size: 16px;
        }

        .widget-phone-order {
          font-weight: 600;
          font-size: 10px;
          line-height: 10px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }
    }
  }

  .widget-phone-icon-phone path {
    stroke: #323232;
  }

  .widget-icon-insider {
    font-size: 0;

    svg {
      display: block;
      transition: 0.2s all;

      path {
        transition: 0.2s all;
      }
    }
  }

  &[data-theme="dark"] .widget-view .widget-view-2 {

    .widget-phone-icon-phone path {
      stroke: #fff;
    }

    .widget-icon-insider svg:hover {
      fill: white
    }

    .widget-icon {
      &[data-icon="alfabank"] .widget-icon-image {
        background-position: -240px 0;
        width: 14px;
      }
      &[data-icon="sberbank"] .widget-icon-image {
        background-position: -294px 0;
        width: 19px;
      }
      &[data-icon="qiwi"] .widget-icon-image {
        background-position: -352px 0;
        width: 20px;
      }
      &[data-icon="yandexmoney"] .widget-icon-image {
        background-position: -413px 0;
        width: 23px;
      }
      &[data-icon="visa"] .widget-icon-image {
        background-position: -477px 0;
        width: 36px;
      }
      &[data-icon="mastercard"] .widget-icon-image {
        background-position: -552px 0;
        width: 25px;
      }
      &[data-icon="mir"] .widget-icon-image {
        background-position: -158px 0;
        width: 42px;
      }
      &[data-icon="jcb"] .widget-icon-image {
        background-position: -93px 0;
        width: 25px;
      }
      &[data-icon="paypal"] .widget-icon-image {
        background-position: 0 0;
        width: 53px;
      }
    }

    .widget-icon-image {
      display: block;
      height: 24px;
      background-size: auto;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url('../../images/icons_1.png');
    }

    .widget-part {
      &.widget-part-left {
        .widget-part-item {
          color: #fff;
        }
      }

      &.widget-part-right {
        .widget-part-item {
          color: #fff;
        }
      }

      .widget-social-item-icon {
        &:hover {
          color: #fff;
        }
      }

      .widget-phone-order-wrapper {
        &:hover {
          color: #fff !important;
          border-color: #fff !important;
        }
      }

      .widget-logotype {
        svg,
        svg path {
          fill: #fff !important;
        }
      }

      .ns-bitrix.c-menu.c-menu-columns-1 {
        .menu-column-header {
          color: #fff !important;
        }
      }
    }
  }
}