.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-image,
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-image img {
  max-height: 600px;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-name {
  margin-top: 0;
  word-break: break-word;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-description {
  color: #2d2d2d;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-properties {
  margin-top: 32px;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-properties-item {
  font-size: 14px;
  line-height: 1.5;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-properties-item + .news-detail-properties-item {
  margin-top: 16px;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-properties-name {
  color: #808080;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-properties-value {
  color: #404040;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-properties-separator {
  color: #B0B0B0;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-slide {
  overflow: hidden;
  overflow-x: auto;
  margin: 24px 0 40px 0;
  padding-bottom: 16px;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #B0B0B0 #F2F2F2;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-slide::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-slide::-webkit-scrollbar-track {
  background: rgba(242, 242, 242, 0.4);
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-slide::-webkit-scrollbar-thumb {
  background: rgba(176, 176, 176, 0.64);
  border-radius: 5px;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-slide-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #404040;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-slide-image {
  width: 80px;
  height: 108px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-slide-image-link {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-slide-image-link:hover {
  border: 1px solid #E8E8E8;
}
.ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-products {
  margin-top: 32px;
}
@media all and (max-width: 1024px) {
  .ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-slide {
    margin: 24px -12px 27px -12px !important;
  }
  .ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-slide-image {
    width: 64px;
    height: 86px;
  }
  .ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-slide-image-wrapper {
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
}
@media all and (max-width: 550px) {
  .ns-bitrix.c-news-detail.c-news-detail-images-detail-1 .news-detail-products {
    margin-top: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
