/* absolute path to images is required to make crm-sale proxy work */

.quick-locations-wrap {
  margin-bottom: 17px;
}
.bx-sls .dropdown-block {
  position: relative;
  /* background: #FBFCFD;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px #ebebeb;
  box-shadow: inset 0 1px 2px #ebebeb;
  font-size: 14px;
  padding: 15px 40px;
  position: relative;
  background-color: #fff;*/
}
.bx-sls .dropdown-block-ui {
  font-size: 14px;
  padding: 0 22px 0 30px;
  position: relative;
  background-color: #fff;
  margin-top: 5px;
}

.bx-sls .dropdown-arrow {
  background: url(/bitrix/components/bitrix/sale.location.selector.search/templates/.default/images/dropdown-errow.png) no-repeat center center;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  width: 22px;
}

.bx-sls .bx-ui-sls-container {
  height: 51px;
  background: #FBFCFD;
}

.bx-sls .bx-ui-sls-pane {
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px #c7c7c7;
  box-shadow: 0 2px 3px #c7c7c7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  left: 0;
  top: 51px;
  padding: 5px 5px 3px 5px;
  position: absolute;
  width: 100%;
}

.bx-sls .dropdown-active .bx-ui-sls-pane {
  display: block;
}

.bx-sls .bx-ui-sls-variants {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bx-sls .dropdown-item {
  border-radius: 2px;
  padding: 7px 4px 7px 10px;
  margin-bottom: 2px;
}

.bx-sls .dropdown-item:hover {
  background-color: #f1f3f5;
  cursor: pointer;
}

.bx-sls .dropdown-img {
  border: none;
  display: inline-block;
  height: 12px;
  margin: 3px 12px 0 0;
  vertical-align: top;
  width: 16px;
}

.bx-sls .dropdown-item-text {
  /*makeup:color: #212121;*/
  color: #aba8ac;
  display: inline-block;
  /*max-width: 220px;*/ /*silly limitation*/
  vertical-align: top;
}

.bx-sls .dropdown-item-text span{
  color: #25282c;
}

.bx-sls .dropdown-list-title {
  border-bottom: 1px solid #e5e5e5;
  height: 37px;
  line-height: 37px;
  padding-left: 8px;
}

.bx-sls .dropdown-icon {
  position: absolute;
  top: 18px;
  left: 15px;
  height: 15px;
  width: 15px;
  color: #808080;
  z-index: 25;
}

.bx-sls .quick-locations{
  margin-bottom: 5px;
}
.bx-sls .quick-location-tag {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #404040;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 7px 16px;
  font-weight: 500;
  border: 1px solid #E8E8E8;
  text-decoration: none;
  -webkit-transition: all 350ms;
  -moz-transition: all 350ms;
  -ms-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.bx-sls .quick-location-tag:hover{
  background-color: #fafafa;
}

.bx-sls .dropdown-fade2white{
  width: 46px;
  height: 31px;
  position: absolute;
  top: 2px;
  right: 0;

  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(30%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.bx-sls .bx-ui-sls-clear {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 8px;
  height: 8px;
  background: url(images/clear.png) no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 25;
}

.bx-sls .bx-ui-sls-loader{
  background-image: url(/bitrix/panel/main/images/waiter-white.gif) !important;
  background-repeat: no-repeat !important;
  background-position: right -1px !important;

  width: 30px;
  height: 30px;

  position: absolute;
  top: 11px;
  right: 9px;
  display: none;
}

.bx-sls .bx-ui-sls-go-edit{
  display: none;
}

.bx-sls .bx-ui-sls-pane{
  max-height: 300px;
}

.bx-sls input::-ms-clear {
  display: none;
}

.bx-sls input[type="text"]{
  position: relative;
}

.bx-sls .bx-ui-sls-fake,
.bx-sls .bx-ui-sls-route {
  position: absolute !important;
  width: 100%;
  padding: 15px 40px !important;
  background: transparent;
  border: 1px solid #F2F2F2 !important;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1;
  color: #404040;
  outline: none;
  z-index: 20;
}
.bx-sls .bx-ui-sls-route{
  color: #aba8ac !important;
  z-index:5;
}

.bx-sls .bx-ui-sls-pane{
  background-color: #fff;
  z-index: 999;
  border: 1px solid #87919c;
}

.bx-sls .bx-ui-sls-variants .bx-ui-sls-variant,
.bx-sls .bx-ui-sls-error{
  padding: 10px 10px;
}
.bx-sls .bx-ui-sls-error{
  color: #ff2222;
  padding-left: 30px;
  position: relative;
}
.bx-sls .bx-ui-sls-error div{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  background: url(/bitrix/panel/main/images/bx-admin-sprite-small.png) 6px -2895px no-repeat scroll;
}
.bx-sls .bx-ui-sls-variants .bx-ui-sls-variant:hover,
.bx-sls .bx-ui-sls-variant-active{
  background-color: #E0E8EA;
}

.adm-sls-edit-link{
  margin-top: 10px;
}

/* CSS-modes below: admin, public; */
.bx-admin-mode .bx-sls-go-edit{
  margin-left: 10px;
  display: none;
}

.bx-admin-mode .dropdown-block {
  border-color: #87919c #959ea9 #9ea7b1;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 2px 2px -1px rgba(180, 188, 191, 0.7) inset;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 2px 2px -1px rgba(180, 188, 191, 0.7) inset;
  height: 25px;
}

.bx-sls.bx-admin-mode .bx-ui-sls-fake,
.bx-sls.bx-admin-mode .bx-ui-sls-route {
  height: 25px;
}

.bx-admin-mode .dropdown-fade2white {
  height: 22px;
}

.bx-admin-mode .dropdown-fade2white {
  right: 1px;
}

.bx-admin-mode .bx-ui-sls-clear {
  background-position: 6px -3389px;
  height: 22px;
}

.bx-admin-mode .bx-ui-sls-clear:hover{
  background-position: 6px -3421px;
}

.bx-admin-mode .bx-ui-sls-loader {
  background-position: right -4px !important;
  height: 21px;
}

.bx-admin-mode .bx-ui-sls-pane {
  top: 27px;
}