@import './../../../../sources/styles/include.scss';

$namespace: 'bitrix';
$component: 'catalog-store-amount';
$template: 'default';
$class: $component;

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  display: block;

  .#{$class}-title {
    font-size: 14px;
    line-height: 26px;
    color: #545454;
    margin-bottom: 16px;
  }

  .#{$class}-info {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
    color: #888888;
  }

  .#{$class}-items {

    &[data-show-empty-store="false"] {

      .#{$class}-item {

        &[data-store-state="empty"] {
          display: none;
        }
      }
    }
  }

  .#{$class}-item {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #404040;

    @include transition(0.4s, box-shadow);

    &:hover {
      @include box-shadow(0, 10px, 20px, 0, rgba(0, 0, 0, 0.1));
    }

    &[data-store-state="empty"] {

      .#{$class}-item-icon-amount {

        &.fa-check {
          display: none;
        }
      }
    }

    &[data-store-state="many"] {

      .#{$class}-item-icon-amount {

        &.fa-times {
          display: none;
        }
      }
    }

    &[data-store-state="few"] {

      .#{$class}-item-icon-amount {

        &.fa-times {
          display: none;
        }
      }
    }
  }

  .#{$class}-item-block {

    &[data-code="address"] {
      max-width: 40%;
    }

    &[data-code="contacts"] {
      max-width: 15%;
    }

    &[data-code="schedule"] {
      max-width: 25%;
    }

    &[data-code="amount"] {
      max-width: 20%;
      text-align: right;
      font-size: 0;
      vertical-align: middle;
    }
  }

  .#{$class}-item-address {
    font-size: 16px;
  }

  .#{$class}-item-description {
    color: #808080;
  }

  .#{$class}-item-phone {
    display: block;
    text-decoration: none;
    color: #404040;
  }

  .#{$class}-item-email {
    display: block;
    text-decoration: none;
    color: #404040;
  }

  .#{$class}-item-schedule {

  }

  .#{$class}-item-icon-amount {
    font-size: 10px;
    margin-right: 5px;
    width: 10px;

    &.fa-check {
      color: #14cc8d;
    }

    &.fa-times {
      color: #fa9696;
    }
  }

  .#{$class}-item-value {
    font-size: 16px;

    & + .#{$class}-item-value {
      padding-left: 4px;
    }
  }

  @media (max-width: 768px) {
    .#{$class}-item-block {
      max-width: 100%!important;

      font-size: 14px;
      line-height: 16px;
      color: #404040;

      + div {
        margin-top: 6px;
      }
    }

    .#{$class}-item-address {

      + .#{$class}-item-description {
        margin-top: 8px;
      }
    }

    .#{$class}-item-description {
      line-height: 20px;
    }

    .#{$class}-item-phone {

      + .#{$class}-item-email {
        margin-top: 8px;
      }
    }

    .#{$class}-item-value {
      font-size: 12px;
    }
  }
}