.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-items {
  position: relative;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-items-content {
  position: relative;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-item {
  position: relative;
  z-index: 0;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-item:hover {
  z-index: 1;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-item-wrapper {
  height: 100%;
  position: relative;
  padding: 16px;
  background: #fff;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-item-image {
  display: block;
  width: 112px;
  height: 112px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-item-image img[data-lazyload-use=true] {
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-item-name {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
  min-height: 60px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  max-height: 60px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-item-name > * {
  color: #1d1d1d;
  text-decoration: none;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-item-price {
  line-height: 1.5;
  margin-top: 8px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-item-price-discount {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #1d1d1d;
  overflow: hidden;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-item-price-base {
  font-size: 12px;
  line-height: 1.334;
  color: #B0B0B0;
  text-decoration: line-through;
  overflow: hidden;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-item-button {
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 8px 12px;
  border-width: 1px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 2;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-navigation.disabled {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-navigation button {
  position: absolute;
  top: 0;
  padding: 10px;
  margin: 0;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  pointer-events: all;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -ms-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-navigation button:hover svg path {
  stroke: #FFF;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-navigation button.disabled {
  background-color: #E8E8E8 !important;
  border-color: #E8E8E8 !important;
  cursor: not-allowed;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-navigation button.disabled svg path {
  stroke: #FFF;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-navigation button svg path {
  stroke: #808080;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -ms-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-navigation-left {
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-navigation-right {
  right: 0;
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-dots {
  margin-top: 16px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-dots.disabled {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-dots button {
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1 .catalog-section-dots button span {
  display: block;
  width: 9px;
  height: 9px;
  background-color: #E8E8E8;
  border: 1px solid rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -ms-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1[data-borders=true] .catalog-section-item-wrapper {
  border: 1px solid #f1f1f1;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1[data-size=small] .catalog-section-item-image {
  width: 85px;
  height: 85px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1[data-size=small] .catalog-section-item-name {
  min-height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 40px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1[data-size=small] .catalog-section-item-price-discount {
  font-size: 14px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1[data-slider=false] .catalog-section-item-wrapper {
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -ms-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-1[data-slider=false] .catalog-section-item-wrapper:hover {
  -webkit-box-shadow: 0 5px 15px 0 rgba(60, 60, 60, 0.1);
  -moz-box-shadow: 0 5px 15px 0 rgba(60, 60, 60, 0.1);
  box-shadow: 0 5px 15px 0 rgba(60, 60, 60, 0.1);
}
@media all and (max-width: 768px) {
  .ns-bitrix.c-catalog-section.c-catalog-section-products-small-1[data-size=big] .catalog-section-item-image {
    width: 85px;
    height: 85px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-products-small-1[data-size=big] .catalog-section-item-name {
    min-height: 40px;
    -webkit-line-clamp: 2;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-products-small-1[data-size=big] .catalog-section-item-price-discount {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
