.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .widget-header .widget-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #404040;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .widget-header .widget-title.margin.align-center {
  margin-left: 130px;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 639px;
  overflow: hidden;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner[data-theme=dark] .news-detail-banner-discount-overhead {
  color: #808080;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner[data-theme=dark] .news-detail-banner-discount-title {
  color: #1B1E25;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner[data-theme=light] .news-detail-banner-discount-overhead {
  color: #F2F2F2;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner[data-theme=light] .news-detail-banner-discount-title {
  color: #FFFFFF;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner-discount {
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  max-width: 482px;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner-discount-overhead {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: normal;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #808080;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner-discount-title {
  margin-top: 16px;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #1B1E25;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner-discount-timer {
  margin-top: 24px;
}
@media all and (max-width: 500px) {
  .ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner {
    height: 300px !important;
  }
  .ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner-discount {
    position: relative;
    max-width: 100%;
    bottom: unset;
    margin-top: 50%;
    transform: translateY(-50%);
  }
  .ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-banner-discount-title {
    font-size: 16px;
    line-height: 20px;
  }
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-icons {
  border: 1px solid #F2F2F2;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-description {
  padding: 80px 0;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-description-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #404040;
  max-width: 686px;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-description-text {
  margin-top: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  max-width: 882px;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-conditions {
  border: 1px solid #F2F2F2;
  margin-bottom: -1px;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-conditions .widget-items {
  margin: -33px !important;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-conditions .widget-item-wrapper {
  padding: 33px !important;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-form {
  background: #F2F2F2;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-products {
  padding: 80px 0;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-products-header {
  position: relative;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-products-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #808080;
  text-decoration: none;
  cursor: pointer;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-products-link-wrapper {
  max-width: 130px;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-products-link-wrapper[data-position=left] {
  text-align: left;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-products-link-wrapper[data-position=center] {
  text-align: center;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-products-link-wrapper[data-position=right] {
  text-align: right;
}
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-services {
  padding: 80px 0;
  border: 1px solid #F2F2F2;
  border-bottom: none;
  margin-bottom: -1px;
}
@media all and (max-width: 600px) {
  .ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .widget-header .widget-title.margin.align-center {
    margin-left: auto;
  }
  .ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-description,
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-products,
.ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-services {
    padding: 40px 0;
  }
  .ns-bitrix.c-news-detail.c-news-detail-shares-default-2 .news-detail-products-link-wrapper {
    max-width: none;
  }
}

/*# sourceMappingURL=style.css.map */
