.ns-bitrix.c-catalog-item.c-catalog-item-template-4 {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -ms-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  height: 100%;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-body {
  height: 100%;
  padding: 28px 20px;
  position: relative;
  border: 1px solid #F2F2F2;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-body[data-wide=true] {
  padding: 20px 7px;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-block-container + * {
  margin-top: 18px;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-picture-container {
  position: relative;
  width: 50px;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-picture {
  position: relative;
  z-index: 1;
  display: block;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-sticker {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-sticker + * {
  margin-top: 16px;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-sticker-item {
  font-size: 0;
  margin-top: 4px;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-sticker-label-item + .catalog-item-sticker-label-item {
  margin-top: 4px;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-sticker-percent span, .ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-sticker-label-item span {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #FFF;
  background-color: #E15554;
  padding: 6px 8px;
  width: 100%;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-name-container {
  height: 36px;
  overflow: hidden;
  word-break: break-word;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-name-container + * {
  margin-top: 10px;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-name {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #1B1E25;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-price-current {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #1B1E25;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-price-discount {
  font-size: 13px;
  line-height: 14px;
  color: #808080;
  text-decoration: line-through;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-content {
  margin-left: 16px;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-button {
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-button-add[data-basket-state=added] {
  display: none;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-button-added {
  display: none;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-button-added[data-basket-state=added] {
  display: inline-block;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-button-unavailable {
  color: #808080;
  background-color: #E8E8E8;
  border-color: #E8E8E8;
  cursor: not-allowed;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-button-content {
  font-size: 0px;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-button-content svg, .ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-button-content span {
  display: inline-block;
  vertical-align: middle;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-button-content svg + span {
  padding-left: 6px;
}
.ns-bitrix.c-catalog-item.c-catalog-item-template-4 .catalog-item-button-content span {
  font-size: 14px;
  line-height: 20px;
}
@media all and (max-width: 768px) {
  .ns-bitrix.c-catalog-item.c-catalog-item-template-4 {
    /*.catalog-item-body {
      padding-bottom: 32px;
    }*/
  }
}

/*# sourceMappingURL=style.css.map */
