.widget.c-vk.c-vk-template-1 .fragment-all-mobile {
  display: none;
  padding: 6px 7px;
}
.widget.c-vk.c-vk-template-1 .fragment-all {
  font-size: 0;
}
.widget.c-vk.c-vk-template-1 .fragment-all a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-decoration: none;
}
.widget.c-vk.c-vk-template-1 .fragment-title {
  margin-bottom: 16px;
}
.widget.c-vk.c-vk-template-1 .fragment-title-text {
  color: #1B1E25;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.widget.c-vk.c-vk-template-1 .fragment-all-desktop {
  padding-right: 8px;
  color: #808080;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.widget.c-vk.c-vk-template-1 .fragment-all-mobile {
  stroke: #808080;
  font-size: 0;
  height: 16px;
  width: 16px;
}
.widget.c-vk.c-vk-template-1 .fragment-description {
  color: #808080;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-bottom: 39px;
}
.widget.c-vk.c-vk-template-1 .fragment-item-content {
  position: relative;
  overflow: hidden;
  height: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.widget.c-vk.c-vk-template-1 .fragment-item-picture {
  display: block;
  font-size: 0;
  aspect-ratio: 1/1;
}
.widget.c-vk.c-vk-template-1 .fragment-item-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.widget.c-vk.c-vk-template-1 .fragment-item-picture img[data-lazyload-use=true] {
  min-height: 100%;
  min-width: 100%;
  background-color: #e8e8e8;
}
.widget.c-vk.c-vk-template-1 a.fragment-item-title {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 24px;
  padding-right: 12px;
}
.widget.c-vk.c-vk-template-1 a.fragment-item-title svg path {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}
.widget.c-vk.c-vk-template-1 .fragment-item-title-icon svg {
  width: 16px;
  height: 16px;
  fill: #fff;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: fill;
  -moz-transition-property: fill;
  -ms-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
}
.widget.c-vk.c-vk-template-1 .fragment-item-description {
  color: #ffffff;
  overflow-y: auto;
  scrollbar-color: #fff #c9c9c9;
}
.widget.c-vk.c-vk-template-1 .fragment-item-description::-webkit-scrollbar {
  width: 16px;
}
.widget.c-vk.c-vk-template-1 .fragment-item-description::-webkit-scrollbar-track {
  border-right: 2px solid #c9c9c9;
}
.widget.c-vk.c-vk-template-1 .fragment-item-description::-webkit-scrollbar-thumb {
  border-right: 2px solid #fff;
}
.widget.c-vk.c-vk-template-1 .fragment-item-title-text {
  padding-left: 11px;
  font-weight: 600;
}
.widget.c-vk.c-vk-template-1 .fragment-item-title-svg-container {
  display: block;
  overflow: hidden;
  width: 45px;
  font-size: 0;
  text-align: right;
}
.widget.c-vk.c-vk-template-1 .fragment-item-title-svg-container svg {
  stroke: #fff;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -ms-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
}
.widget.c-vk.c-vk-template-1 .fragment-item-title-svg-line {
  position: absolute;
  top: calc(50% - 1px);
  left: 14px;
  right: 7px;
  height: 1px;
  background-color: #fff;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: background-color, left;
  -moz-transition-property: background-color, left;
  -ms-transition-property: background-color, left;
  -o-transition-property: background-color, left;
  transition-property: background-color, left;
}
.widget.c-vk.c-vk-template-1 .fragment-item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(27, 30, 37, 0.6);
  opacity: 0;
  backdrop-filter: blur(9px);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.widget.c-vk.c-vk-template-1 .fragment-item-info {
  position: absolute;
  visibility: hidden;
  padding: 24px;
  padding-right: 16px;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: visibility, opacity;
  -moz-transition-property: visibility, opacity;
  -ms-transition-property: visibility, opacity;
  -o-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
}
.widget.c-vk.c-vk-template-1 .fragment .fragment-description {
  font-size: 14px;
  color: #808080;
  line-height: 1.6;
}
.widget.c-vk.c-vk-template-1 .fragment .fragment-header + .fragment-content {
  margin-top: 32px;
}
.widget.c-vk.c-vk-template-1 .fragment .fragment-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}
.widget.c-vk.c-vk-template-1 .fragment .fragment-title + .fragment-description {
  margin-top: 16px;
}
@media all and (min-width: 769px) {
  .widget.c-vk.c-vk-template-1 .fragment-item-content:hover .fragment-item-overlay {
    opacity: 1;
  }
  .widget.c-vk.c-vk-template-1 .fragment-item-content:hover .fragment-item-info {
    visibility: visible;
    opacity: 1;
  }
  .widget.c-vk.c-vk-template-1 .fragment-item-content:hover .fragment-item-title-svg-line {
    left: 5px;
  }
}
@media screen and (max-width: 768px) {
  .widget.c-vk.c-vk-template-1 .fragment-item-overlay {
    display: none;
  }
  .widget.c-vk.c-vk-template-1 .fragment-item-info {
    display: none;
  }
  .widget.c-vk.c-vk-template-1 .fragment-all-mobile {
    height: 32px;
    width: 32px;
  }
  .widget.c-vk.c-vk-template-1 .fragment-content {
    overflow: hidden;
  }
  .widget.c-vk.c-vk-template-1 .fragment-items {
    overflow-x: scroll;
    scrollbar-color: #808080 #e8e8e8;
  }
  .widget.c-vk.c-vk-template-1 .fragment-items::-webkit-scrollbar {
    height: 24px;
  }
  .widget.c-vk.c-vk-template-1 .fragment-items::-webkit-scrollbar-track {
    border-bottom: 2px solid #e8e8e8;
  }
  .widget.c-vk.c-vk-template-1 .fragment-items::-webkit-scrollbar-thumb {
    border-bottom: 2px solid #808080;
  }
  .widget.c-vk.c-vk-template-1 .fragment-item {
    width: 40%;
  }
}
@media screen and (max-width: 550px) {
  .widget.c-vk.c-vk-template-1 .fragment-item {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .widget.c-vk.c-vk-template-1 .fragment-all-mobile {
    display: block;
  }
  .widget.c-vk.c-vk-template-1 .fragment-all-desktop {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
