@import './../../../../sources/styles/include.scss';

$namespace: 'bitrix';
$component: 'news-list';
$template: 'shares-blocks-3';

$loader: #{$component}-loader;
$item: #{$component}-item;

@keyframes c-#{$component}-#{$template} {
  from {
    @include transform-translate(-100%, -100%);
  }
  to {
    @include transform-translate(100%, 100%);
  }
}

@mixin webkit-box ($lines, $line-height) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  max-height: #{$lines * $line-height}px;
}

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  .#{$component}-description {
    margin-bottom: 24px;
  }

  .#{$loader} {
    position: relative;
    background-color: #E8E8E8;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      background: linear-gradient(135deg, rgba(0, 0, 0, 0) 35%, rgba(255, 255, 255, 0.85) 50%, rgba(0, 0, 0, 0) 65%);
      z-index: 1;
      animation-name: c-#{$component}-#{$template};
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }
  .#{$loader}-timer-item {
    width: 52px;
    height: 29px;
    @extend %border-radius-2px;
  }

  .#{$item} {
    position: relative;

    &:hover {
      .#{$item}-picture {
        &::before {
          opacity: 0;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
  .#{$item}-content {
    position: relative;
    display: block;
    color: #FFF;
    z-index: 1;
  }
  .#{$item}-picture {
    display: block;
    position: relative;
    min-height: 375px;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    z-index: 1;
    @include border-radius(4px);

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include transition(.35s, opacity);
    }
    &::before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 1) 100%);
      opacity: 0.8;
    }
    &::after {
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
    }

    &[data-lazyload-use='true'] {
      background-color: #F2F2F2;
    }
  }
  .#{$item}-information {
    position: absolute;
    display: block;
    left: 24px;
    right: 24px;
    bottom: 24px;
    z-index: 2;
  }
  .#{$item}-duration {
    display: block;
    font-size: 12px;
    line-height: 1.67;
    margin-bottom: 8px;
    @include webkit-box(3, 20);
  }
  .#{$item}-name {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.34;
    @include webkit-box(3, 20);

    & > * {
      color: #FFF;
      text-decoration: none;
      @include transition(.35s, color);
    }
    & > a {
      &:hover {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .#{$item}-additional {
    position: absolute;
    top: 24px;
    left: 24px;
    right: 24px;
    pointer-events: none;
    z-index: 2;
  }
  .#{$item}-discount {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #404040;
    padding: 7.5px 8px;
    background-color: #FBCD56;
    @extend %border-radius-2px;
  }

  [data-link='true'] {
    .#{$item}-information {
      pointer-events: none;
    }
  }

  %border-radius-2px {
    @include border-radius(2px);
  }

  @include breakpoint-768() {
    .#{$item}-picture {
      min-height: 275px;

      &::before {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 100%);
      }
    }
    .#{$item}-information {
      left: 16px;
      right: 16px;
      bottom: 16px;
    }
    .#{$item}-additional {
      top: 16px;
      left: 16px;
      right: 16px;
    }
  }
  @include breakpoint-custom(500) {
    .#{$item}-picture {
      min-height: auto;

      &::before {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%);
      }
    }
  }
}