.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item {
  position: relative;
  height: 100%;
  padding: 40px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: border-color, box-shadow;
  -moz-transition-property: border-color, box-shadow;
  -ms-transition-property: border-color, box-shadow;
  -o-transition-property: border-color, box-shadow;
  transition-property: border-color, box-shadow;
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item:hover {
  border-color: transparent;
  z-index: 1;
  -webkit-box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
  -moz-box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
  box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item + .news-list-item {
  margin-top: -1px;
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item-name {
  margin-top: 24px;
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item-name > a, .ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item-name div {
  font-size: 14px;
  line-height: 1.43;
  color: #1B1E25;
  text-decoration: none;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item-picture {
  display: block;
  width: 212px;
  padding-top: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item-name {
  font-size: 14px;
  line-height: 20px;
  color: #1B1E25;
  text-align: left;
  margin-top: 0;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item-name + .news-list-item-description {
  margin-top: 8px;
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item-description {
  font-size: 12px;
  line-height: 20px;
  color: #808080;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  max-height: 100px;
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item-show-more-button {
  display: block;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 16px;
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-navigation-top {
  margin-bottom: 30px;
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-navigation-bottom {
  margin-top: 30px;
}
.ns-bitrix.c-news-list.c-news-list-collections-list-1[data-borders=true] .news-list-item-wrapper {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
@media all and (max-width: 768px) {
  .ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item-picture {
    width: 100%;
  }
  .ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item-text {
    text-align: center;
    margin-top: 20px;
  }
  .ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item {
    padding: 20px;
  }
  .ns-bitrix.c-news-list.c-news-list-collections-list-1 .news-list-item-name {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
