@import './../../../../sources/styles/include.scss';

$component: 'videos';
$template: 'template-3';
$item: 'widget-item';

$color-black-1: #1B1E25;
$color-black-2:#404040;
$color-gray-1: #808080;
$color-gray-2: #B0B0B0;
$color-gray-3: #E8E8E8;
$color-gray-4: #F2F2F2;

@mixin webkit-box ($lines, $line-height) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  max-height: #{$lines * $line-height}px;
}

.widget.c-#{$component}.c-#{$component}-#{$template} {
  .#{$item}-picture {
    position: relative;
    padding-top: #{100% / 16 * 9};
    background-size: cover;
    background-color: #E7F1FF;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    @include border-radius(2px);

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      pointer-events: none;
      @include transform-translate(-50%, -50%);
      @include transition(0.4s, transform);
    }
    &:hover {
      svg {
        -webkit-transform: translate(-50%, -50%) scale(1.1);
        -moz-transform: translate(-50%, -50%) scale(1.1);
        -ms-transform: translate(-50%, -50%) scale(1.1);
        -o-transform: translate(-50%, -50%) scale(1.1);
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
  .#{$item}-name {
    font-size: 14px;
    line-height: 24px;
    color: $color-black-2;
    margin-top: 12px;
    margin-right: 16px;
    @include webkit-box(2, 24);
  }
  .widget-header {
    overflow: hidden;
  }

  .widget-content {
    position: relative;
  }

  .#{$item}s-navigation {
    position: absolute;
    top: -65px;
    right: 0;

    button {
      width: 40px;
      height: 40px;
      font-size: 9px;
      line-height: 1;
      background: #fff;
      color: #808080;
      border: 1px solid #E8E8E8;
      @include border-radius(2px);
      @include transition(0.35s, all);
      cursor: pointer;
      outline: none;

      &.navigation-right {
        margin-left: 16px;
      }

      @media all and (max-width: 550px) {
        display: none;
      }

      &:hover {
        color: #fff;
      }

      svg {
        path {
          stroke: #808080;

          transition: all 0.4s;
        }
      }

      &:hover {
        svg {
          path {
            stroke: #FFF;
          }
        }
      }


      &.disabled {
        background-color: #FFF!important;
        border-color: #F2F2F2!important;
        opacity: 0.7;
        cursor: not-allowed;

        @include user-select(none);

        svg {
          path {
            stroke: #F2F2F2!important;
          }
        }
      }
    }
  }

  .widget-all-container {
    display: none;
  }
  .widget-all-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    i {
      display: none;
      font-size: 18px;
    }
  }

  .widget-use-slider {

    .widget-header {
      padding-top: 5px;
    }

    &.widget-no-header {

      .widget-content {
        margin-top: 80px;
      }
    }

    .widget-title,
    .widget-description {

      &.align-left,
      &.align-right {
        margin-right: 115px;
      }

      &.align-center {
        margin-left: 115px;
        margin-right: 115px;
      }
    }
  }

  @media all and (max-width: 550px) {
    [data-nav='true'] {
      .widget-title,
      .widget-description {
        &.align-left,
        &.align-center,
        &.align-right {
          margin-right: 0;
        }
      }
    }
    .widget-all-container {
      display: block;
    }
    .widget-title.align-center.widget-title-margin {
      margin-left: 25px;
    }
    .widget-all-container.mobile {
      text-align: right;
      width: 25px;
      max-height: 36px;
    }
    .widget-all-container i {
      display: inline-block;
    }
    .widget-footer.mobile,
    .widget-footer-button.mobile{
      display: none;
    }
    .widget-all-container {
      width: 25px;
    }
  }
}