$component: 'iblock-vote';
$template: 'template-1';

$rating: #{$component}-rating;

.ns-bitrix.c-#{$component}.c-#{$component}-#{$template} {
  .#{$rating} {
    font-size: 0;
    margin: 0 -3px;
  }
  .#{$rating}-item {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
    font-size: 16px;
    color: #E8E8E8;

    &[data-active='true'], &[data-focus='true'] {
      color: #F4BB28;
    }
  }
  .#{$rating}-total {
    font-size: 14px;
    display: inline-block;
    padding-left: 10px;
  }
}