$namespace: 'bitrix';
$component: 'news-list';
$template: 'vacancies-list-1';
$class: #{$component};
$item: #{$class}-item;
$contact : #{$class}-contact-person;

@mixin border-radius ($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition ($property, $time) {
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -ms-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -ms-transition-duration: $time;
  -o-transition-duration: $time;
  transition-duration: $time;
}
.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  .#{$contact} {
    background: #FBFCFD;
    border: 1px solid #F2F2F2;
    padding: 35px 30px 25px 30px;
    @include border-radius(2px);

    & + * {
      margin-top: 40px;
    }

    @media screen and (max-width:956px) {
      & {
        padding: 35px 10px;
      }
    }
  }
  .#{$contact}-image-wrap {
    width: 64px;
    height: 64px;
    font-size: 0;
    overflow: hidden;
    margin-right: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include border-radius(50%);
  }
  .#{$contact}-image {
    display: inline-block;
  }
  .#{$contact}-title {
    color: #B0B0B0;
  }
  .#{$contact}-text{
    display: inline-block;
    color: #404040;
    font-size: 14px;
    line-height: 1.43;
    max-height: 42px;
    overflow: hidden;
    margin-top: 4px;
    width: max-content;
    text-decoration: none;

    @media screen and (max-width:600px){
      width: auto;
    }
  }
  .#{$contact}-phone {
    min-width: auto;
    width: 210px;
  }
  .#{$contact}-bottom {
    padding-top: 10px;
  }
  .#{$contact}-description {
    color: #808080;
    font-size: 14px;
    line-height: 24px;
    word-wrap: break-word;
  }
  .#{$contact}-button{
    width: 210px;
  }

  .#{$class}-send-summary {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
  }

  .#{$class}-section {
    display: block;
    margin-top: 25px;
    border: 1px solid #e8e8e8;
  }
  .#{$class}-section-title {
    font-size: 18px;
    line-height: 18px;
    color: #404040;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }
  .#{$class}-delimiter {
    display: block;
    height: 1px;
    background: #e8e8e8;
    overflow: hidden;
  }

  .#{$item} {
    display: block;
    padding: 30px;
    text-decoration: none;
    @include transition(all, 0.3s);

    &:hover{
      box-shadow: 0 8px 32px rgba(27, 30, 37, 0.08);
      text-decoration: none;

      .#{$item}-item-name-text {
        color:inherit !important;
      }
    }

    &.active {
      .#{$item}-name {
        .#{$item}-name-indicators {
          .#{$item}-name-indicator.#{$item}-name-indicator-active {
            display: inline-block;
          }
          .#{$item}-name-indicator.#{$item}-name-indicator-inactive {
            display: none;
          }
        }
      }
    }
  }
  .#{$item}-wrapper {
    display: block;
  }
  .#{$item}-name {
    font-size: 0;
    cursor: pointer;
  }
  .#{$item}-name-right {
    margin: 0 10px 0 0;
  }
  .#{$item}-name-text {
    color: #232121;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    max-height: 63px;
    width: max-content;
  }
  .#{$item}-name-sticker {
    font-size: 12px;
    line-height: 16px;
    color: #B0B0B0;
    margin-top:8px;
    overflow: hidden;
  }
  .#{$item}-name-sticker-separator {
    color: #E8E8E8;
    margin: 0 12px 0 8px;
    font-size: 12px;
  }
  .#{$item}-name-indicators {
    i {
      font-weight: 400;
      border: 1px solid #E8E8E8;
      padding: 12px;
      @include transition(#{background-color, color}, #{0.3s, 0.3s});

      &:hover {
        color: #FFF;
      }
    }
  }
  .#{$item}-name-salary {
    display: block;
    position: absolute;
    top: -25px;
    right: 70px;
    bottom: -25px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    background: #fffce0;
    text-align: center;

    @media screen and (max-width:520px) {
      & {
        position: static;
        width: auto;
        margin-top: 10px;
        margin-right: 70px;
        background-color: transparent;
        text-align: left;
      }
    }
    .#{$item}-name-salary-wrapper {
      display: inline-block;
      vertical-align: middle;
      color: #232121;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .#{$item}-name-indicators {
    display: block;
    width: 40px;
    height: 100%;
    margin-left: 25px;
    white-space: nowrap;
    text-align: center;

    .#{$item}-name-indicator {
      vertical-align: middle;
      font-size: 14px;
    }
    .#{$item}-name-indicator.#{$item}-name-indicator-active {
      display: none;
    }
  }
  .#{$item}-price {
    font-weight: 500;
    font-size: 16px;
    color: #404040;
    width: max-content;
  }

  .#{$item}-description {
    display: none;
    padding-top: 25px;
    overflow: hidden;
  }
  .#{$item}-description-wrapper {
    display: block;
    color: #888888;
    font-size: 14px;
    line-height: 24px;
    padding-top: 20px;
    border-top: 1px solid #e8e8e8;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  .#{$item}-description-buttons {
    display: block;
    margin-top: 20px;
  }

  &[data-detail-page-use="true"] {
    .#{$item}:hover {
      .#{$item}-name-text {
        color: inherit;
      }
    }
  }
  @media all and (max-width: 500px) {
    .#{$item}-name-right {
      margin: 0 10px 10px 0;
    }
  }
}