@import './../../../../sources/styles/include.scss';

$component: 'news';
$template: 'template-1';
$item: 'widget-item';

.widget.c-#{$component}.c-#{$component}-#{$template} {
  .#{$item}-wrapper {
    position: relative;
    height: 100%;
    padding: 45px;
    border: 1px solid #e8e8e8;
    background: #fff;
    @include transition(0.4s, border-color);
  }
  [data-date='true'] .#{$item}-wrapper {
    padding-bottom: 77px;
  }
  .#{$item}-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #353639;
    text-decoration: none;
    @include transition(0.4s, color);
  }
  .#{$item}-date {
    position: absolute;
    left: 45px;
    bottom: 45px;
    font-size: 12px;
    line-height: 12px;
    color: #898989;
  }
  .widget-footer-button {
    color: #2d2d2d !important;

    &:hover,
    &:focus,
    &:active {
      color: #fff !important;
    }
  }

  .widget-header {
    overflow: hidden;
  }
  .widget-all-container {
    display: none;
  }
  .widget-all-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    i {
      display: none;
      font-size: 18px;
    }
  }

  @media all and (max-width: 550px) {
    .widget-all-container {
      display: block;
    }
    .widget-title.align-center.widget-title-margin {
      margin-left: 25px;
    }
    .widget-all-container.mobile {
      text-align: right;
      width: 25px;
      max-height: 36px;
    }
    .widget-all-container i {
      display: inline-block;
    }
    .widget-footer.mobile,
    .widget-footer-button.mobile{
      display: none;
    }
    .widget-all-container {
      width: 25px;
    }
  }

  @media all and (max-width: 768px) {
    .#{$item}-wrapper {
      padding: 25px;
    }
    [data-date='true'] .#{$item}-wrapper {
      padding-bottom: 52px;
    }
    .#{$item}-date {
      left: 25px;
      bottom: 25px;
    }
  }
}