@import './../../../../sources/styles/include.scss';

$component: 'news';
$template: 'template-3';
$item: 'widget-item';

.widget.c-#{$component}.c-#{$component}-#{$template} {
  .#{$item}-wrapper {
    height: 100%;
    background-color: #FFF;
    border: 1px solid #F2F2F2;
    overflow: hidden;
    @include border-radius(3px);
  }
  .#{$item}-picture {
    display: block;
    padding-top: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  [data-grid='3'] .#{$item}-picture {
    padding-top: 65%;
  }
  [data-grid='2'] .#{$item}-picture {
    padding-top: 50%;
  }
  .#{$item}-text {
    padding: 24px 24px 32px;
  }
  .#{$item}-date {
    font-size: 12px;
    line-height: 15px;
    color: #898989;
    margin-bottom: 10px;
  }
  .#{$item}-name {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: #404040;
    text-decoration: none;
    @include transition(0.4s, color);
  }
  .widget-footer-button {
    color: #2d2d2d !important;

    &:hover,
    &:focus,
    &:active {
      color: #fff !important;
    }
  }

  .widget-header {
    overflow: hidden;
  }
  .widget-all-container {
    display: none;
  }
  .widget-all-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    i {
      display: none;
      font-size: 18px;
    }
  }

  @media all and (max-width: 550px) {
    .widget-all-container {
      display: block;
    }
    .widget-title.align-center.widget-title-margin {
      margin-left: 25px;
    }
    .widget-all-container.mobile {
      text-align: right;
      width: 25px;
      max-height: 36px;
    }
    .widget-all-container i {
      display: inline-block;
    }
    .widget-footer.mobile,
    .widget-footer-button.mobile{
      display: none;
    }
    .widget-all-container {
      width: 25px;
    }
  }

  @media all and (max-width: 1024px) {
    [data-grid='3'] .#{$item}-picture,
    [data-grid='2'] .#{$item}-picture {
      padding-top: 75%;
    }
  }
}