.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-items {
  position: relative;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-container {
  position: relative;
  margin-top: -1px;
  margin-left: -1px;
  z-index: 1;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -ms-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-container:hover {
  z-index: 2;
  -webkit-box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
  -moz-box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
  box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-container:hover .catalog-section-item {
  border-color: #FFF;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item {
  height: 100%;
  padding: 20px;
  background-color: #FFF;
  border: 1px solid #F2F2F2;
  overflow: hidden;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -ms-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-picture {
  display: block;
  font-size: 0;
  text-align: center;
  text-decoration: none;
  width: 56px;
  height: 56px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-name {
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 36px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-name a {
  color: #808080;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-price {
  padding-top: 8px;
  margin: -4px -6px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-price > div {
  display: inline-block;
  margin: 4px 6px;
  vertical-align: baseline;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-price-current {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  color: #404040;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-price-discount {
  font-size: 12px;
  line-height: 12px;
  color: #B0B0B0;
  text-decoration: line-through;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-message {
  padding-top: 12px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-products-small-3 .catalog-section-item-button {
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 8px 12px;
  border-width: 1px;
}

/*# sourceMappingURL=style.css.map */
