.widget.c-services.c-services-template-14 {
  padding-top: 94px;
  padding-bottom: 105px;
  background-color: #EFEFEF;
}
.widget.c-services.c-services-template-14 .widget-header {
  text-align: left;
}
.widget.c-services.c-services-template-14 .widget-header .widget-title {
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.3;
}
.widget.c-services.c-services-template-14 .widget-header .widget-title + .widget-description {
  margin-top: 20px;
}
.widget.c-services.c-services-template-14 .widget-header .widget-description {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}
.widget.c-services.c-services-template-14 .widget-items {
  margin-top: 72px;
}
.widget.c-services.c-services-template-14 .widget-item-description {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.widget.c-services.c-services-template-14 .widget-item-properties {
  margin-top: 88px;
}
.widget.c-services.c-services-template-14 .widget-item-property {
  font-size: 16px;
}
.widget.c-services.c-services-template-14 .widget-footer-button {
  color: #2d2d2d !important;
}
.widget.c-services.c-services-template-14 .widget-footer-button:hover, .widget.c-services.c-services-template-14 .widget-footer-button:focus, .widget.c-services.c-services-template-14 .widget-footer-button:active {
  color: #fff !important;
}
.widget.c-services.c-services-template-14 .text-align-right {
  text-align: right;
}
.widget.c-services.c-services-template-14 .widget-header {
  overflow: hidden;
}
.widget.c-services.c-services-template-14 .widget-all-container {
  display: none;
}
.widget.c-services.c-services-template-14 .widget-all-button {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.widget.c-services.c-services-template-14 .widget-all-button i {
  display: none;
  font-size: 23px;
  font-weight: 400;
}
@media all and (max-width: 550px) {
  .widget.c-services.c-services-template-14 .widget-all-container {
    display: block;
  }
  .widget.c-services.c-services-template-14 .widget-title.align-center.widget-title-margin {
    margin-left: 25px;
  }
  .widget.c-services.c-services-template-14 .widget-all-container.mobile {
    text-align: right;
    width: 25px;
    max-height: 36px;
  }
  .widget.c-services.c-services-template-14 .widget-all-container i {
    display: inline-block;
  }
  .widget.c-services.c-services-template-14 .widget-footer.mobile,
.widget.c-services.c-services-template-14 .widget-footer-button.mobile {
    display: none;
  }
  .widget.c-services.c-services-template-14 .widget-all-container {
    width: 25px;
  }
}
@media all and (max-width: 1200px) {
  .widget.c-services.c-services-template-14 .widget-header {
    text-align: center;
  }
}
@media all and (max-width: 600px) {
  .widget.c-services.c-services-template-14 .widget-item-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
@media all and (max-width: 500px) {
  .widget.c-services.c-services-template-14 .widget-item-name,
.widget.c-services.c-services-template-14 .widget-item-price {
    font-size: 18px;
    line-height: 27px;
  }
}

/*# sourceMappingURL=style.css.map */
