$component: 'gallery';
$template: 'template-6';

@mixin transition ($property, $duration) {
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -ms-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin user-select ($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

.widget.c-#{$component}.c-#{$component}-#{$template} {
  .widget-items {
    margin: -8px;
  }
  .widget-item-big {
    width: 66.6666%;
  }
  .widget-item-long {
    width: 66.6666%;

    .widget-item-wrapper {
      padding-top: 30%;
    }
  }

  .widget-item-wrapper {
    position: relative;
    padding-top: 60%;
  }

  .widget-item-picture-wrap {
    position: absolute;
    margin: 8px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    cursor: pointer;
    overflow: hidden;
  }
  .widget-item-picture {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include transition(transform, 0.4s);

    img {
      display: none;
    }
  }
  .widget-item-picture-wrap:hover .widget-item-picture {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  .widget-header {
    overflow: hidden;
  }
  .widget-all-container {
    display: none;
  }
  .widget-all-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    i {
      display: none;
      font-size: 18px;
    }
  }

  @media all and (max-width: 550px) {
    .widget-all-container {
      display: block;
    }
    .widget-title.align-center.widget-title-margin {
      margin-left: 25px;
    }
    .widget-all-container.mobile {
      text-align: right;
      width: 25px;
      max-height: 36px;
    }
    .widget-all-container i {
      display: inline-block;
    }
    .widget-footer.mobile,
    .widget-footer-button.mobile{
      display: none;
    }
    .widget-all-container {
      width: 25px;
    }
  }

  @media all and (max-width: 600px) {
    .widget-item-long {
      .widget-item-wrapper {
        padding-top: 60%;
      }
    }
  }

  .widget-footer-button {
    color: #2d2d2d !important;

    &:hover,
    &:focus,
    &:active {
      color: #fff !important;
    }
  }
}