@keyframes c-shares-template-6 {
  from {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
  }
  to {
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
  }
}
.widget.c-shares.c-shares-template-6 .widget-header[data-link-all=true] .widget-title.align-center {
  margin-left: 150px;
}
.widget.c-shares.c-shares-template-6 .widget-header[data-link-all=true] .widget-description.align-center {
  margin-left: 150px;
}
.widget.c-shares.c-shares-template-6 .widget-list {
  display: block;
  width: 140px;
  padding-left: 10px;
  font-size: 0;
  text-align: right;
  text-decoration: none;
}
.widget.c-shares.c-shares-template-6 .widget-list-desktop {
  display: block;
  font-size: 10px;
  line-height: 1;
  color: #808080;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-break: break-word;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.widget.c-shares.c-shares-template-6 .widget-list-mobile {
  display: none;
  padding: 6px 7px;
}
.widget.c-shares.c-shares-template-6 .widget-list-mobile svg path {
  stroke: #B0B0B0;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -ms-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
}
.widget.c-shares.c-shares-template-6 .widget-loader {
  position: relative;
  background-color: #F2F2F2;
  overflow: hidden;
}
.widget.c-shares.c-shares-template-6 .widget-loader::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 35%, rgba(255, 255, 255, 0.85) 50%, rgba(0, 0, 0, 0) 65%);
  z-index: 1;
  animation-name: c-shares-template-6;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.widget.c-shares.c-shares-template-6 .widget-loader-timer-name {
  max-width: 150px;
  height: 18px;
}
.widget.c-shares.c-shares-template-6 .widget-loader-timer-blocks {
  margin-top: 8px;
  overflow: hidden;
}
.widget.c-shares.c-shares-template-6 .widget-loader-timer-block {
  width: 52px;
  height: 30px;
}
.widget.c-shares.c-shares-template-6 .widget-item {
  height: 100%;
  padding: 40px 32px;
  border: 1px solid #F2F2F2;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.widget.c-shares.c-shares-template-6 .widget-item-header {
  font-size: 12px;
  line-height: 1.335;
  color: #808080;
  margin-bottom: 16px;
}
.widget.c-shares.c-shares-template-6 .widget-item-name {
  font-size: 18px;
  line-height: 1.335;
  max-height: 72px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.widget.c-shares.c-shares-template-6 .widget-item-name > a {
  color: #404040;
  text-decoration: none;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.widget.c-shares.c-shares-template-6 .widget-item-description {
  font-size: 14px;
  line-height: 1.72;
  color: #808080;
  margin-top: 8px;
}
.widget.c-shares.c-shares-template-6 .widget-item-timer {
  margin-top: 24px;
}
.widget.c-shares.c-shares-template-6 .widget-item-picture {
  display: block;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.widget.c-shares.c-shares-template-6 .widget-item-picture[data-lazyload-use=true] {
  background-color: #F2F2F2;
}
.widget.c-shares.c-shares-template-6 .widget-loader-timer-name, .widget.c-shares.c-shares-template-6 .widget-loader-timer-block {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
@media all and (max-width: 768px) {
  .widget.c-shares.c-shares-template-6 .widget-item {
    padding: 24px;
  }
  .widget.c-shares.c-shares-template-6 .widget-item-name {
    font-size: 16px;
    line-height: 1.313;
    max-height: 63px;
  }
  .widget.c-shares.c-shares-template-6 .widget-item-description {
    max-height: 120px;
    -webkit-line-clamp: 5;
  }
  .widget.c-shares.c-shares-template-6 .widget-item-timer {
    margin-top: 16px;
  }
  .widget.c-shares.c-shares-template-6 .widget-item-picture {
    width: 150px;
    height: 150px;
  }
}
@media all and (max-width: 500px) {
  .widget.c-shares.c-shares-template-6 .widget-header[data-link-all=true] .widget-title.align-center {
    margin-left: 40px;
  }
  .widget.c-shares.c-shares-template-6 .widget-header[data-link-all=true] .widget-description.align-center {
    margin-left: 40px;
  }
  .widget.c-shares.c-shares-template-6 .widget-list {
    width: 30px;
    padding-left: 0;
    margin-left: 10px;
  }
  .widget.c-shares.c-shares-template-6 .widget-list-desktop {
    display: none;
  }
  .widget.c-shares.c-shares-template-6 .widget-list-mobile {
    display: block;
  }
  .widget.c-shares.c-shares-template-6 .widget-item-content-information {
    order: 2;
  }
  .widget.c-shares.c-shares-template-6 .widget-item-content-picture {
    order: 1;
  }
}

/*# sourceMappingURL=style.css.map */
