@import '../../../../sources/styles/include.scss';

$component: 'services';
$template: 'template-24';
$item: 'widget-item';
$menu: 'widget-menu';

@mixin webkit-box ($lines, $line-height) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  max-height: #{$lines * $line-height}px;
}

.widget.c-#{$component}.c-#{$component}-#{$template} {
  .owl-stage {
    margin: 0 auto;
  }
  .widget-item-wrapper {
    position: relative;
    height: 100%;
    background-color: #FFFFFF!important;
    overflow: hidden;
    text-decoration: none;
  }
  .#{$menu}-desktop-items {
    font-size: 14px;
    line-height: 20px;
    color: #1B1E25;

    .#{$menu}-item {
      padding: 0 20px 15px 20px;
      white-space: nowrap;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      @include transition(0.2s, all);
    }
    .#{$menu}-item:hover {
      border-bottom: 1px solid;
    }
  }
  .#{$menu}-mobile-items {
    display: none;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #F2F2F2;
    color: #1B1E25;

    .#{$menu}-mobile-wrapper:first-child {
      border-top: none;
    }
    .#{$menu}-mobile-wrapper{
      border-top: 1px solid #F2F2F2;
    }
    .#{$menu}-item {
      padding: 20px 24px;
      cursor: pointer;
      border-left: 2px solid transparent;
      @include transition(0.2s, all);
    }
  }
  @media all and (max-width: 600px) {
    .#{$menu}-desktop-items[data-mobile-column='true'] {
      display: none;
    }
    .#{$menu}-mobile-items {
      display:block;
    }
  }
  .widget-content-wrapper {
    background: #FBFCFD;
    border: 1px solid #F2F2F2;
    padding: 55px 0;
  }
  .section-content {
    display: none;
  }
  .section-content.active {
    display: flex;
  }
  .#{$item} {
    @include transition(0.3s, all);
  }
  .#{$item}:hover {
    @include box-shadow(0, 8px, 32px, 0, rgba(54, 54, 54, 0.06));
  }
  .#{$item}-information {
    padding: 30px 30px 40px 30px;
    flex-grow: 1;
  }
  .#{$item}-picture-wrapper {
    overflow: hidden;
    width: 100%;
    height: 240px;
  }
  .#{$item}-picture {
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .#{$item}-picture-effect {
    @include transition(0.3s, all);
  }
  .#{$item}-button {
    margin-top: 15px;
    width: max-content;
  }
  .#{$item}-picture-effect:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  .#{$item}-name {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }
  .#{$item}-name {
    color: #404040;
    @include transition(0.3s, all);
  }
  .#{$item}-description {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 26px;
    color: #808080;
    @include webkit-box(4, 26);
  }
  .#{$item}-price {
    margin: auto 0 0 0;
  }

  .#{$item}-price-current {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #1B1E25;
  }
  .#{$item}-price-old {
    margin-bottom: 3px;
    text-decoration-line: line-through;
    text-decoration-style: solid;
    font-size: 13px;
    white-space: nowrap;
    color: #929292;
  }
  .widget-footer-button {
    color: #2d2d2d !important;

    &:hover,
    &:focus,
    &:active {
      color: #fff !important;
    }
  }
  .widget-header {
    overflow: hidden;
  }
  .widget-all-container {
    display: none;
  }
  .widget-all-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    i {
      display: none;
      font-size: 18px;
    }
  }

  @media all and (max-width: 550px) {
    .widget-all-container {
      display: block;
    }
    .widget-title.align-center.widget-title-margin {
      margin-left: 25px;
    }
    .widget-all-container.mobile {
      text-align: right;
      width: 25px;
      max-height: 36px;
    }
    .widget-all-container i {
      display: inline-block;
    }
    .widget-footer.mobile,
    .widget-footer-button.mobile{
      display: none;
    }
    .widget-all-container {
      width: 25px;
    }
  }
  @media all and (max-width: 600px) {
    .widget-content-wrapper[data-mobile-status="true"] {
      border: none;
    }
    .#{$item}-wrapper {
      border: 1px solid #F2F2F2;
    }
    .#{$item}-information {
      padding: 15px 24px 32px 24px;
    }
    .#{$item}-picture-wrapper {
      height: 200px;
      padding: 24px 24px 0 24px;
    }
  }
  @media all and (max-width: 320px) {
    .#{$item}-picture-wrapper {
      height: 150px;
      padding: 24px 24px 0 24px;
    }
  }
}