@import './../../../../sources/styles/include.scss';

$namespace: 'intec-universe';
$component: 'tags-list';
$template: 'template-2';
$item: #{$component}-item;

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  .#{$item}-wrapper,
  .#{$item}-text {
    display: block;
  }
  .#{$item}-wrapper {
    margin: 0;
  }
  .#{$item}-text {
    font-size: 0;
    font-weight: 400;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    @include border-radius(3px);
    @include user-select(none);
    @include transition(0.4s, #{color, background-color});
  }
  .#{$item}-name,
  .#{$item}-count {
    font-size: 13px;
    line-height: 18px;
  }
  .#{$item} {
    max-width: 100%;

    input {
      display: none;

      &:checked {
        & + span {
          &[data-color='1'] {
            background-color: #ffd800;
            color: #1f1f1f;
          }
          &[data-color='2'] {
            background-color: #d7569c;
            color: #FFF;
          }
          &[data-color='3'] {
            background-color: #3eb5f1;
            color: #FFF;
          }
          &[data-color='4'] {
            background-color: #52ac62;
            color: #FFF;
          }
          &[data-color='5'] {
            background-color: #1f1f1f;
            color: #FFF;
          }
        }
      }
      & + span {
        &:hover {
          color: #fff!important;
        }
      }
    }
  }
}