.ns-intec-universe.c-profile-add.c-profile-add-template-1 {
  display: block;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-group {
  display: block;
  padding: 40px 32px;
  border: 1px solid #E8E8E8;
  background-color: #F9F9FB;
  max-width: 900px;
  margin-bottom: 36px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-title {
  display: block;
  font-size: 13px;
  line-height: 13px;
  color: #808080;
  margin-bottom: 8px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-title.profile-add-form-field-title-required:after {
  content: "*";
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-block {
  margin-bottom: 24px;
  word-break: break-word;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-block:last-child {
  margin-bottom: 0;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-text-date {
  position: relative;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-text-date-icon-calendar {
  display: block;
  position: absolute;
  right: 14px;
  top: 14px;
  width: 18px;
  height: 18px;
  background-image: url("images/calendar.svg");
  background-size: 18px auto;
  background-position: center;
  background-repeat: no-repeat;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-text {
  font-size: 14px;
  line-height: 18px;
  color: #404040;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  background-color: #fff;
  padding: 12px 24px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 8px;
  outline: none;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-select {
  width: 100%;
  padding: 12px 24px;
  background-color: #FBFCFD;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
  color: #404040;
  outline: none;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-select option {
  padding: 3px;
  font-size: 14px;
  line-height: 18px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-textarea {
  font-size: 14px;
  line-height: 18px;
  color: #404040;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  background-color: #fff;
  padding: 12px 24px;
  width: 100% !important;
  max-height: 118px;
  min-height: 44px;
  outline: none;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-location {
  margin-bottom: 8px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-location .bx-slst .dropdown-block {
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  background-color: #fff;
  padding: 4px 32px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-location .bx-slst .dropdown-icon {
  top: 14px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-location .bx-slst .bx-ui-combobox-toggle {
  top: 4px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-location .bx-sls .dropdown-block {
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  background-color: #fff;
  padding: 8px 32px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-location .bx-sls .dropdown-icon {
  top: 14px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-location .bx-sls .bx-ui-sls-clear {
  margin-top: 6px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-location .bx-sls input[type=text] {
  height: 100%;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-default-files {
  margin-bottom: 24px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-default-file {
  text-align: center;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-default-file-picture {
  width: 150px;
  height: 150px;
  margin-bottom: 16px;
  padding: 4px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-default-file-name {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
  max-width: 150px;
  word-break: break-word;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-default-file-download {
  display: block;
  text-decoration: none;
  margin-bottom: 16px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-file {
  font-size: 0;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-file-choose-input {
  display: none;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-file-load-info {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #404040;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-file-load-cancel {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  height: 14px;
  color: #404040;
  cursor: pointer;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-file-load-cancel[data-active=false] {
  display: none;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-field-group-title {
  font-size: 24px;
  line-height: 30px;
  color: #404040;
  margin-bottom: 24px;
}
.ns-intec-universe.c-profile-add.c-profile-add-template-1 .profile-add-form-button {
  padding: 20px 50px;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
