.c-footer.c-footer-template-1 .widget-view .widget-view-5 {
  display: block;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-parts {
  margin: 0 -30px;
  padding: 30px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-parts + .widget-panel {
  border-top: 1px solid #eee;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part {
  padding: 0 30px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right {
  width: 480px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-items {
  margin: -5px;
  overflow: hidden;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-items + * {
  padding-top: 30px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item {
  padding: 5px;
  white-space: nowrap;
  color: #2d2d2d;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-phone.second-phone-show {
  display: flex;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-phone.second-phone-show .widget-part-item-phone-wrapper {
  display: flex !important;
  flex-direction: column;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-phone.second-phone-show .widget-part-item-phone-wrapper .widget-part-item-text {
  padding: 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-phone .widget-part-item-phone-wrapper {
  display: inline-block;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-phone .widget-part-item-text {
  font-size: 16px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-form {
  white-space: normal;
  text-align: right;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item-icon,
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item-text {
  vertical-align: middle;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item-icon {
  width: 20px;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  margin-right: 10px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item-text {
  font-size: 14px;
  white-space: normal;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part .widget-search {
  display: block;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part .widget-search + * {
  padding-top: 30px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part .widget-logotype {
  display: block;
  text-align: right;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part .widget-logotype-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel {
  padding: 30px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-panel-items {
  margin: -15px -30px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-panel-item {
  padding: 15px 30px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-copyright {
  display: block;
  font-size: 13px;
  line-height: 1.5;
  color: #2d2d2d;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social {
  display: block;
  overflow: hidden;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-items {
  overflow: hidden;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../images/icons_color_round.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-grey=true] {
  background-image: url("../../images/icons_grey_round.svg");
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon-square=true] {
  background-image: url("../../images/icons_color_square.svg");
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=VK] {
  background-position: -320px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=FACEBOOK] {
  background-position: -288px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=INSTAGRAM] {
  background-position: -384px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=TWITTER] {
  background-position: -416px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=YOUTUBE] {
  background-position: -448px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=ODNOKLASSNIKI] {
  background-position: -352px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=VIBER] {
  background-position: -224px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=WHATSAPP] {
  background-position: -256px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=YANDEX_DZEN] {
  background-position: -128px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=PINTEREST] {
  background-position: -96px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=MAIL_RU] {
  background-position: -160px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=TELEGRAM] {
  background-position: -192px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=TIKTOK] {
  background-position: -64px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=SNAPCHAT] {
  background-position: -32px 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-social-item-icon[data-social-icon=LINKEDIN] {
  background-position: 0 0;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=alfabank] .widget-icon-image {
  background-position: -240px 0;
  width: 14px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=sberbank] .widget-icon-image {
  background-position: -294px 0;
  width: 19px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=qiwi] .widget-icon-image {
  background-position: -352px 0;
  width: 20px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=yandexmoney] .widget-icon-image {
  background-position: -413px 0;
  width: 23px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=visa] .widget-icon-image {
  background-position: -477px 0;
  width: 36px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=mastercard] .widget-icon-image {
  background-position: -552px 0;
  width: 25px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=mir] .widget-icon-image {
  background-position: -158px 0;
  width: 42px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=jcb] .widget-icon-image {
  background-position: -93px 0;
  width: 25px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=paypal] .widget-icon-image {
  background-position: 0 0;
  width: 53px;
}
.c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-icon-image {
  display: block;
  height: 24px;
  background-size: auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../../images/icons_2.png");
}
@media all and (max-width: 768px) {
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-parts {
    margin: -20px 0;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part {
    padding: 20px 0;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right {
    width: auto;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-logotype {
    text-align: center;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-panel-item.widget-panel-item-empty {
    display: none;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-copyright {
    text-align: center;
  }
}
@media all and (max-width: 550px) {
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .ns-bitrix.c-menu.c-menu-columns-1.menu-adapted .menu-column:first-child .menu-column-wrapper {
    border-top: 0;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right {
    text-align: center;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-items {
    margin: -8px;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item-text {
    padding-right: 0;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item {
    padding: 8px;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-phone {
    order: 1;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-phone .widget-part-item-icon {
    display: none;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-form {
    order: 2;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-email {
    order: 3;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-address {
    order: 4;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-form-button {
    font-size: 14px;
    padding: 7px 24px;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-logotype-wrapper {
    width: 143px;
  }
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-panel .widget-copyright-wrap {
    order: 5;
  }
}
@media all and (max-width: 400px) {
  .c-footer.c-footer-template-1 .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-form {
    text-align: center;
  }
}
.c-footer.c-footer-template-1 .widget-part-item-icon path {
  stroke: #323232;
}
.c-footer.c-footer-template-1 .widget-icon-insider {
  font-size: 0;
}
.c-footer.c-footer-template-1 .widget-icon-insider svg {
  display: block;
  transition: 0.2s all;
}
.c-footer.c-footer-template-1 .widget-icon-insider svg path {
  transition: 0.2s all;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-part-item-icon path {
  stroke: #fff;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-parts + .widget-panel {
  border-color: #35393c;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item {
  color: #fff;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-part.widget-part-right .widget-part-item.widget-email .widget-part-item-text {
  color: inherit;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-part .ns-bitrix.c-menu.c-menu-columns-1 .menu-column-header {
  color: #fff !important;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-part .ns-bitrix.c-search-title.c-search-title-input-3 .search-title {
  background: #414447;
  border-color: #414447;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-part .widget-logotype svg,
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-part .widget-logotype svg path {
  fill: #fff !important;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-icon-insider svg:hover {
  fill: white;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=alfabank] .widget-icon-image {
  background-position: -240px 0;
  width: 14px;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=sberbank] .widget-icon-image {
  background-position: -294px 0;
  width: 19px;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=qiwi] .widget-icon-image {
  background-position: -352px 0;
  width: 20px;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=yandexmoney] .widget-icon-image {
  background-position: -413px 0;
  width: 23px;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=visa] .widget-icon-image {
  background-position: -477px 0;
  width: 36px;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=mastercard] .widget-icon-image {
  background-position: -552px 0;
  width: 25px;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=mir] .widget-icon-image {
  background-position: -158px 0;
  width: 42px;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=jcb] .widget-icon-image {
  background-position: -93px 0;
  width: 25px;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-icon[data-icon=paypal] .widget-icon-image {
  background-position: 0 0;
  width: 53px;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-icon-image {
  display: block;
  height: 24px;
  background-size: auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../../images/icons_1.png");
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-copyright {
  color: #777e89;
}
.c-footer.c-footer-template-1[data-theme=dark] .widget-view .widget-view-5 .widget-panel .widget-social-item-icon:hover {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
