@import './../../../../sources/styles/include.scss';

$component: 'news';
$template: 'template-5';
$item: 'widget-item';
$ui: 'intec-ui';

.widget.c-#{$component}.c-#{$component}-#{$template} {
  .widget-content {
    position: relative;
  }
  .widget-items {
    position: relative;
  }
  .#{$item}-picture {
    display: block;
    padding-top: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .#{$item}-text {
    padding: 30px 55px;
  }
  .#{$item}-date {
    font-size: 13px;
    line-height: 13px;
    color: #888888;
    margin-bottom: 15px;
  }
  .#{$item}-name {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
    @include transition(0.4s, color);
  }
  .#{$item}-description {
    font-size: 15px;
    line-height: 21px;
    color: #444444;
    margin-top: 15px;
  }
  .#{$ui}-control-navigation {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
  }
  .#{$ui}-part-button-left,
  .#{$ui}-part-button-right {
    padding: 14px;
    font-size: 0;
    margin-top: -24px;
    background-color: #FFF;
    border: 1px solid #E8E8E8;
    opacity: 1;
    outline: none;
    @include transform-translate(null, -50%);
    @include border-radius(2px);
    @include transition(0.35s, all);

    svg {
      path {
        stroke: #808080;
        @include transition(0.4s, all);
      }
    }
    &:hover {
      svg {
        path {
          stroke: #FFF;
        }
      }
    }
    &.disabled {
      background-color: #FFF!important;
      border-color: #F2F2F2!important;
      opacity: 0.7;
      cursor: not-allowed;

      @include user-select(none);

      svg {
        path {
          stroke: #F2F2F2!important;
        }
      }
    }
  }
  @media all and (max-width: 768px) {
    .#{$item}-text {
      padding: 30px;
    }
  }
  @media all and (max-width: 600px) {
    .#{$item}-description {
      display: none;
    }
  }
  @media all and (max-width: 500px) {
    .#{$item}-name {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .widget-items {
    &[data-columns='5'],
    &[data-columns='6'] {
      .#{$item}-text {
        padding: 25px;
      }
      .#{$item}-date {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 10px;
      }
      .#{$item}-name {
        font-size: 16px;
        line-height: 24px;
      }
      .#{$item}-description {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .widget-header {
    overflow: hidden;
  }
  .widget-all-container {
    display: none;
  }
  .widget-all-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    i {
      display: none;
      font-size: 18px;
    }
  }

  @media all and (max-width: 550px) {
    .widget-all-container {
      display: block;
    }
    .widget-title.align-center.widget-title-margin {
      margin-left: 25px;
    }
    .widget-all-container.mobile {
      text-align: right;
      width: 25px;
      max-height: 36px;
    }
    .widget-all-container i {
      display: inline-block;
    }
    .widget-footer.mobile,
    .widget-footer-button.mobile{
      display: none;
    }
    .widget-all-container {
      width: 25px;
    }
  }
}