.widget.c-reviews.c-reviews-template-17 .widget-title-margin {
  margin-left: 117px;
}
@media (max-width: 500px) {
  .widget.c-reviews.c-reviews-template-17 .widget-title-margin {
    margin-left: 54px;
  }
}
.widget.c-reviews.c-reviews-template-17 .widget-title {
  overflow: hidden;
}
.widget.c-reviews.c-reviews-template-17 .widget-send {
  color: #808080;
  padding: 8px 14px;
  border: 1px solid #E8E8E8;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: color, border-color;
  -moz-transition-property: color, border-color;
  -ms-transition-property: color, border-color;
  -o-transition-property: color, border-color;
  transition-property: color, border-color;
}
.widget.c-reviews.c-reviews-template-17 .widget-send-icon svg path {
  stroke: #B0B0B0;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -ms-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
}
.widget.c-reviews.c-reviews-template-17 .widget-send-content {
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: inherit;
}
.widget.c-reviews.c-reviews-template-17 .widget-all {
  display: block;
  text-decoration: none;
}
.widget.c-reviews.c-reviews-template-17 .widget-all-desktop {
  display: block;
  font-size: 10px;
  line-height: 1;
  color: #808080;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.widget.c-reviews.c-reviews-template-17 .widget-all-mobile {
  display: none;
  padding: 6px 7px;
}
.widget.c-reviews.c-reviews-template-17 .widget-all-mobile svg path {
  stroke: #B0B0B0;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -ms-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
}
.widget.c-reviews.c-reviews-template-17 .widget-items {
  margin-bottom: 15px;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-wrapper {
  height: 100%;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-content-wrap {
  height: 100%;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-content {
  height: 100%;
  padding: 45px 30px;
  background: #FBFCFD;
  border: 1px solid #F2F2F2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: background, box-shadow;
  -moz-transition-property: background, box-shadow;
  -ms-transition-property: background, box-shadow;
  -o-transition-property: background, box-shadow;
  transition-property: background, box-shadow;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-content:hover {
  background-color: #FFF;
  -webkit-box-shadow: 0 16px 32px 0 rgba(27, 30, 37, 0.08);
  -moz-box-shadow: 0 16px 32px 0 rgba(27, 30, 37, 0.08);
  box-shadow: 0 16px 32px 0 rgba(27, 30, 37, 0.08);
}
.widget.c-reviews.c-reviews-template-17 .widget-item-image {
  display: block;
  width: 64px;
  height: 64px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-description {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  margin-bottom: 20px;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-name-wrap {
  text-align: right;
  min-width: 100px;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-name {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  color: #404040;
  text-decoration: none;
  word-break: break-word;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-rating {
  margin-top: 8px;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-rating-item svg {
  width: 20px;
  height: 20px;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-rating-item svg path {
  fill: #E8E8E8;
  stroke: #E8E8E8;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-rating-item[data-active=true] svg path {
  fill: #FBCD56;
  stroke: #FBCD56;
}
.widget.c-reviews.c-reviews-template-17 .widget-item-link-detail-button {
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 15px !important;
  border-width: 1px;
}
@media all and (max-width: 900px) {
  .widget.c-reviews.c-reviews-template-17 .widget-item-wrapper {
    height: auto;
  }
  .widget.c-reviews.c-reviews-template-17 .widget-item-content-wrap {
    height: auto;
  }
  .widget.c-reviews.c-reviews-template-17 .widget-item-content {
    height: auto;
  }
}
@media all and (max-width: 768px) {
  .widget.c-reviews.c-reviews-template-17 .widget-send-content {
    display: none;
  }
}
@media all and (max-width: 600px) {
  .widget.c-reviews.c-reviews-template-17 .widget-item-content {
    padding: 20px;
  }
  .widget.c-reviews.c-reviews-template-17 .widget-item-content:hover {
    background: #FBFCFD;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
@media all and (max-width: 550px) {
  .widget.c-reviews.c-reviews-template-17 .widget-item-name-wrap {
    text-align: left;
  }
}
@media all and (max-width: 500px) {
  .widget.c-reviews.c-reviews-template-17 .widget-send {
    padding: 6px;
  }
  .widget.c-reviews.c-reviews-template-17 .widget-all-desktop {
    display: none;
  }
  .widget.c-reviews.c-reviews-template-17 .widget-all-mobile {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
