$namespace: 'bitrix';
$component: 'sale-personal-section';
$template: 'template-1';
$class: $component;

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  display: block;

  .#{$class}-links-desktop {
    margin-bottom: 20px;
  }

  .#{$class}-links-wrap {
    max-width: 100%;
    margin: 0 auto;
  }

  .#{$class}-links {
    height: 46px;
    border-left: 1px solid #F2F2F2;
    overflow: hidden;
  }

  .#{$class}-link-item {
    height: 100%;
    position: relative;

    &[data-role="more"] {
      overflow: hidden;

      &:hover {
        overflow: visible;

        .#{$class}-sublinks-wrap {
          opacity: 1;
        }
      }

      .#{$class}-link-text {
        margin-top: -6px;
      }
    }
  }

  .#{$class}-link {
    height: 100%;
    background-color: #F9F9FB;
    border: 1px solid #F2F2F2;
    border-left: none;
    text-decoration: none;
    padding: 0 24px;
    cursor: pointer;

    &[data-active="true"] {
      color: #fff;

      .#{$class}-link-text {
        color: #fff;
      }
    }

    .#{$class}-link-icon {
      padding-right: 8px;
    }

    .#{$class}-link-text {
      font-size: 14px;
      line-height: 10px;
      letter-spacing: 0.02em;
      color: #404040;
    }

    &:hover {
      .#{$class}-link-text {
        color: #fff;
      }

      .#{$class}-link-icon {
        color: #fff;
      }
    }
  }

  .#{$class}-sublinks-wrap {
    display: block;
    width: 260px;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    cursor: default;
    background: #fff;
    border: 1px solid #F2F2F2;
    z-index: 11;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .#{$class}-sublink-item {

    &:last-child {
      .#{$class}-sublink {
        border-bottom: none;
      }
    }
  }

  .#{$class}-sublink {
    display: block;
    padding: 15px 30px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    word-break: break-all;
    border-bottom: 1px solid #F2F2F2;
    color: #404040;
  }

  .#{$class}-links-mobile {
    margin-bottom: 20px;
  }

  .#{$class}-links-wrap-mobile {
    background-color: #F9F9FB;
    border: 1px solid #F2F2F2;
    border-bottom: none;
  }

  .#{$class}-links-mobile {

  }

  .#{$class}-links-button-mobile {
    padding: 16px 20px;
    font-size: 13px;
    line-height: 10px;
    color: #404040;
    border-bottom: 1px solid #F2F2F2;
    cursor: pointer;

    &[data-state="false"] {

      [data-code="icon-close"] {
        display: none;
      }
    }

    &[data-state="true"] {

      [data-code="icon-open"] {
        display: none;
      }
    }
  }

  .#{$class}-link-item-mobile {
    padding: 16px 20px;
    border-bottom: 1px solid #F2F2F2;
  }

  .#{$class}-link-mobile {
    font-size: 13px;
    line-height: 10px;
    color: #404040;
    text-decoration: none;
    word-break: break-word;
  }

  .#{$class}-orders-wrap {
    margin-bottom: 24px;
  }

  .#{$class}-manager {
    border: 1px solid #F2F2F2;
    background-color: #F9F9FB;
    margin-bottom: 24px;
  }

  .#{$class}-manager-header {
    padding: 16px 30px;
    border-bottom: 1px solid #F2F2F2;
  }

  .#{$class}-manager-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #404040;
  }

  .#{$class}-manager-wrap {
    padding: 16px 30px;
  }

  .#{$class}-manager-picture {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
  }

  .#{$class}-manager-name {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #404040;
    word-break: break-word;
  }

  .#{$class}-manager-position {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #808080;
    word-break: break-word;
  }

  .#{$class}-manager-contact {
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    margin-bottom: 8px;
    word-break: break-word;
  }

  .#{$class}-claims {
    border: 1px solid #F2F2F2;
    background-color: #F9F9FB;
  }

  .#{$class}-claims-header {
    padding: 16px 30px;
    border-bottom: 1px solid #F2F2F2;
  }

  .#{$class}-claims-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #404040;
  }

  .#{$class}-claims-wrap {
    padding: 16px 30px;
  }

  .#{$class}-claims-items {

  }

  .#{$class}-claims-item {
    padding: 16px 0;
    border-bottom: 1px solid #E8E8E8;

    &:last-child {
      border-bottom: none;
    }

    &.#{$class}-claims-item-header {
      .#{$class}-claims-text-header {
        display: block;
      }
    }
  }

  .#{$class}-claims-text {
    flex-basis: 100%;
    font-size: 13px;
    line-height: 18px;
    color: #404040;
    word-break: break-word;

    &[data-code="id"] {
      max-width: 170px;
    }

    &[data-code="theme"] {
      max-width: 200px;
    }

    &[data-code="date"] {
      max-width: 145px;
    }
  }

  .#{$class}-claims-text-header {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #808080;
    padding-right: 8px;
    word-break: break-word;
  }

  .#{$class}-claims-empty {
    font-size: 13px;
    line-height: 18px;
    color: #404040;
    margin-bottom: 24px;
  }

  .#{$class}-claims-buttons {
    margin: 16px 0 8px 0;
  }

  .#{$class}-claims-button {
    padding: 12px 22px;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-width: 1px;
  }

  @media all and (min-width: 769px) {
    .#{$class}-links-mobile {
      display: none;
    }
  }

  @media all and (max-width: 768px) {
    .#{$class}-links-desktop {
      display: none;
    }
  }

  @media all and (min-width: 451px) {
    .#{$class}-claims-text-header {
      display: none;
    }
  }

  @media all and (max-width: 450px) {
    .#{$class}-manager-header {
      padding: 12px 15px;
    }

    .#{$class}-manager-wrap {
      padding: 20px 15px;
    }

    .#{$class}-claims-header {
      padding: 12px 15px;
    }

    .#{$class}-claims-wrap {
      padding: 20px 15px;
    }

    .#{$class}-claims-item {
      &.#{$class}-claims-item-header {
        display: none;
      }
    }

    .#{$class}-claims-text {

      &[data-code="id"],
      &[data-code="theme"] {
        max-width: 100%;
        margin-bottom: 16px;
      }

      &[data-code="date"] {
        max-width: 100%;
      }
    }
  }










}