.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-preview-text,
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  -webkit-text-size-adjust: 100%;
  color: #404040;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-image:not(:only-child) {
  margin-left: 16px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-image-wrapper {
  position: relative;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  padding-top: 35%;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-image-wrapper img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-image-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  white-space: nowrap;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-image-wrapper-2::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  overflow: hidden;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-information + .news-detail-description {
  margin-top: 16px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 * + .news-detail-sections, .ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 * + .news-detail-products, .ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-filter.filter-horizontal {
  margin-top: 40px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-sections-header, .ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-products-header {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #404040;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 * + .news-detail-return {
  margin-top: 40px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-return-wrapper {
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none !important;
  color: #808080;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-return-wrapper i {
  margin-right: 6px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel {
  margin-bottom: 20px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 -10px;
  position: relative;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-wrapper[data-device=desktop] {
  padding-bottom: 5px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-wrapper[data-device=mobile] {
  display: none;
}
@media all and (max-width: 720px) {
  .ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-wrapper[data-device=mobile] {
    display: block;
  }
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-wrapper[data-device=mobile] .news-detail-panel-views {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -ms-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-wrapper[data-device=mobile] .news-detail-panel-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -ms-flex: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-wrapper[data-device=mobile] .news-detail-panel-sort-button {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -ms-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-wrapper[data-device=mobile] .news-detail-panel-views,
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-wrapper[data-device=mobile] .news-detail-panel-filter {
  width: 44px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-filter, .ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort, .ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-views {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -ms-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  padding: 0 10px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-views {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -ms-flex: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-views-button {
  cursor: pointer;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-views-button svg {
  display: block;
  fill: #404040;
  stroke: #404040;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-views-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 -10px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-views-item {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -ms-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -ms-transition-duration: 350ms;
  -o-transition-duration: 350ms;
  transition-duration: 350ms;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  color: #bababa;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding: 0 10px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-views-item:hover {
  color: #404040;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-views-item[data-active=true] {
  color: #202020;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  cursor: pointer;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-text, .ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-icon {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -ms-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  font-size: 14px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-icon svg {
  display: block;
  fill: #404040;
  stroke: #404040;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-text {
  padding-left: 9px;
  color: #404040;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-items {
  -webkit-box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
  -moz-box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
  box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
  bottom: auto;
  left: auto;
  right: 0;
  top: 100%;
  height: auto;
  width: 265px;
  background-color: #fff;
  cursor: default;
  display: none;
  margin-top: 10px;
  padding: 28px 32px;
  position: absolute;
  z-index: 25;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-items-wrapper {
  margin: -8px 0;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-item {
  padding: 8px 0;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-item-description, .ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-item-name {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -ms-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-sort-item-description {
  color: #808080;
  margin-left: 20px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  width: auto;
  display: none;
  position: fixed;
  visibility: hidden;
  z-index: 125;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup[data-state=open] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup[data-role="catalog.panel.sortMobilePopup"] .news-detail-panel-popup-selection-control {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup[data-role="catalog.panel.sortMobilePopup"] .news-detail-panel-popup-selection-title {
  padding-top: 1px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-overlay {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  visibility: visible;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-window {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -ms-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  min-width: 320px;
  visibility: visible;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  padding: 34px 23px;
  width: 100%;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-window-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 24px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-window-title {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -ms-flex: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  color: #1b1e25;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  padding-right: 16px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-window-close {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -ms-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 0 8px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-window-close svg {
  display: block;
  fill: #808080;
  stroke: #808080;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-selections {
  margin: -12px 0;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-selection {
  padding: 12px 0;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-selection-wrapper {
  display: block;
  text-decoration: none;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-selection-content {
  padding-left: 13px !important;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-selection-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  color: #404040;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin: 0 -4px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-selection-description {
  color: #808080;
  font-weight: normal;
  font-size: 12px;
  padding-top: 4px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-selection-icon,
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-selection-text {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -ms-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  padding: 0 4px;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-selection-icon svg {
  display: block;
  fill: #404040;
  stroke: #404040;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-filter {
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  -ms-flex: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  min-width: 320px;
  visibility: visible;
  width: 100%;
  height: 90%;
  padding: 0;
  background-color: #FFF;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-filter-close {
  position: absolute;
  top: 16px;
  right: 20px;
  padding: 0;
  z-index: 2;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-popup-filter-content {
  position: relative;
  height: 100%;
  z-index: 1;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-filter-button {
  cursor: pointer;
}
.ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-filter-button svg {
  display: block;
  fill: #404040;
  stroke: #404040;
}
@media all and (max-width: 720px) {
  .ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-filter {
    display: none;
  }
  .ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-panel-wrapper[data-device=mobile] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media all and (max-width: 768px) {
  .ns-bitrix.c-news-detail.c-news-detail-brands-detail-1 .news-detail-image {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
