@import './../../../../sources/styles/include.scss';

$component: 'categories';
$template: 'template-6';
$item: 'widget-item';

.widget.c-#{$component}.c-#{$component}-#{$template} {
  [data-size='standard'] {
    width: 33.333333%;
  }
  [data-size='small'] {
    width: 40%;
  }
  [data-size='big'] {
    width: 60%;
  }
  .#{$item}-aligner {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    overflow: hidden;
  }
  .#{$item}-wrapper {
    position: relative;
    display: block;
    text-decoration: none;
    height: 300px;
    overflow: hidden;
    @include transition(.35s, box-shadow);
  }
  .#{$item}-picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include transition(.35s, transform);
    z-index: 1;

    &[data-lazyload-use='true'] {
      background-color: #F2F2F2;
    }
  }
  .#{$item}-name-wrap,
  .#{$item}-sticker-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
  }
  .#{$item}-name-wrap {
    z-index: 3;
    margin: 10px;
  }
  .#{$item}-name {
    font-size: 16px;
    line-height: 22px;
    color: #404040;
    padding: 8px 16px;
    background-color: #FFF;
    @include border-radius(2px);
    @include box-shadow(0, 4px, 10px, 0, rgba(0, 0, 0, 0.07));
  }
  .#{$item}-sticker-wrap {
    z-index: 2;
    margin: 10px;
  }
  .#{$item}-sticker {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center !important;
    color: #FFF;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    @include border-radius(5px);
  }
  .#{$item}-wrapper:hover {
    @include box-shadow(0, 4px, 16px, 0, rgba(0, 0, 0, 0.16));
    
    .#{$item}-picture {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  [data-vertical='top'] {
    align-items: flex-start;
  }
  [data-vertical='middle'] {
    align-items: center;
  }
  [data-vertical='bottom'] {
    align-items: flex-end;
  }
  [data-horizontal='left'] {
    justify-content: flex-start;
  }
  [data-horizontal='center'] {
    justify-content: center;
  }
  [data-horizontal='right'] {
    justify-content: flex-end;
  }
  @media all and (max-width: 1024px) {
    [data-size] {
      width: 50%;
    }
  }
  @media all and (max-width: 768px) {
    .#{$item}-name {
      font-size: 16px;
      line-height: 22px;
    }
  }
  @media all and (max-width: 700px) {
    [data-size] {
      width: 100%;
    }
  }
}