.widget.c-reviews.c-reviews-template-11 .widget-title-margin {
  margin-left: 117px;
}
@media (max-width: 500px) {
  .widget.c-reviews.c-reviews-template-11 .widget-title-margin {
    margin-left: 54px;
  }
}
.widget.c-reviews.c-reviews-template-11 .widget-title {
  overflow: hidden;
}
.widget.c-reviews.c-reviews-template-11 .widget-send {
  color: #808080;
  padding: 8px 14px;
  border: 1px solid #E8E8E8;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: color, border-color;
  -moz-transition-property: color, border-color;
  -ms-transition-property: color, border-color;
  -o-transition-property: color, border-color;
  transition-property: color, border-color;
}
.widget.c-reviews.c-reviews-template-11 .widget-send-icon svg path {
  stroke: #B0B0B0;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -ms-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
}
.widget.c-reviews.c-reviews-template-11 .widget-send-content {
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: inherit;
}
.widget.c-reviews.c-reviews-template-11 .widget-all {
  display: block;
  text-decoration: none;
}
.widget.c-reviews.c-reviews-template-11 .widget-all-desktop {
  display: block;
  font-size: 10px;
  line-height: 1;
  color: #808080;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.widget.c-reviews.c-reviews-template-11 .widget-all-mobile {
  display: none;
  padding: 6px 7px;
}
.widget.c-reviews.c-reviews-template-11 .widget-all-mobile svg path {
  stroke: #B0B0B0;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: stroke;
  -moz-transition-property: stroke;
  -ms-transition-property: stroke;
  -o-transition-property: stroke;
  transition-property: stroke;
}
.widget.c-reviews.c-reviews-template-11 .widget-outer-items {
  overflow: visible !important;
}
.widget.c-reviews.c-reviews-template-11 .widget-items {
  margin-bottom: 15px;
}
.widget.c-reviews.c-reviews-template-11 .widget-item-wrapper {
  padding: 30px 30px 30px 90px;
  height: 100%;
}
.widget.c-reviews.c-reviews-template-11 .widget-owl-item {
  opacity: 0;
  -webkit-transition-duration: 0s, 0.2s, 0.2s;
  -moz-transition-duration: 0s, 0.2s, 0.2s;
  -ms-transition-duration: 0s, 0.2s, 0.2s;
  -o-transition-duration: 0s, 0.2s, 0.2s;
  transition-duration: 0s, 0.2s, 0.2s;
  -webkit-transition-property: opacity, box-shadow, transform;
  -moz-transition-property: opacity, box-shadow, transform;
  -ms-transition-property: opacity, box-shadow, transform;
  -o-transition-property: opacity, box-shadow, transform;
  transition-property: opacity, box-shadow, transform;
}
.widget.c-reviews.c-reviews-template-11 .widget-owl-item:hover {
  z-index: 2;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
}
.widget.c-reviews.c-reviews-template-11 .widget-owl-item.active {
  opacity: 1;
}
.widget.c-reviews.c-reviews-template-11 .widget-owl-item:last-child .widget-item {
  border-right: 1px solid #F2F2F2;
}
.widget.c-reviews.c-reviews-template-11 .widget-owl-item .widget-item {
  background: #ffffff;
  border: 1px solid #F2F2F2;
  border-right: 0;
}
.widget.c-reviews.c-reviews-template-11 .widget-item-date {
  margin-bottom: 12px;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #808080;
}
.widget.c-reviews.c-reviews-template-11 .widget-item-image {
  display: block;
  width: 64px;
  height: 64px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.widget.c-reviews.c-reviews-template-11 .widget-item-description {
  position: relative;
  margin-top: 12px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
}
.widget.c-reviews.c-reviews-template-11 .widget-item-description:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 26px;
  height: 26px;
  background: url("images/quote_icon.svg") no-repeat center;
  background-size: contain;
}
.widget.c-reviews.c-reviews-template-11 .widget-item-name {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  color: #404040;
  text-decoration: none;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.widget.c-reviews.c-reviews-template-11 .widget-item-rating-item svg {
  width: 20px;
  height: 20px;
}
.widget.c-reviews.c-reviews-template-11 .widget-item-rating-item svg path {
  fill: #E8E8E8;
  stroke: #E8E8E8;
}
.widget.c-reviews.c-reviews-template-11 .widget-item-rating-item[data-active=true] svg path {
  fill: #FBCD56;
  stroke: #FBCD56;
}
.widget.c-reviews.c-reviews-template-11 .widget-item-link-detail-button {
  padding: 10px 15px !important;
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-width: 1px;
}
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-left,
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-right {
  font-size: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -ms-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-left svg path,
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-right svg path {
  stroke: #808080;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-left:hover svg path,
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-right:hover svg path {
  stroke: #FFF;
}
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-left.disabled,
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-right.disabled {
  background-color: #FFF !important;
  border-color: #F2F2F2 !important;
  opacity: 0.7;
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-left.disabled svg path,
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-right.disabled svg path {
  stroke: #F2F2F2 !important;
}
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-left {
  left: -20px;
}
.widget.c-reviews.c-reviews-template-11 .intec-ui-control-navigation .intec-ui-part-button-right {
  right: -20px;
}
.widget.c-reviews.c-reviews-template-11 .widget-items-dots {
  margin-top: 25px;
}
.widget.c-reviews.c-reviews-template-11 .widget-items-dots .widget-items-dot {
  margin-left: 16px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
}
.widget.c-reviews.c-reviews-template-11 .widget-items-dots .widget-items-dot:first-child {
  margin-left: 0;
}
.widget.c-reviews.c-reviews-template-11 .widget-items-dots .widget-items-dot:not(.active):not(:hover) {
  background: #CFCFCF !important;
}
.widget.c-reviews.c-reviews-template-11 .widget-items-dots .widget-items-dot span {
  display: block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media all and (max-width: 950px) {
  .widget.c-reviews.c-reviews-template-11 .widget-item-wrapper {
    padding: 30px 20px 30px 60px;
  }
}
@media all and (max-width: 768px) {
  .widget.c-reviews.c-reviews-template-11 .widget-send-content {
    display: none;
  }
}
@media all and (max-width: 700px) {
  .widget.c-reviews.c-reviews-template-11 .widget-owl-item:hover {
    z-index: 2;
    box-shadow: none;
    transform: none;
  }
}
@media all and (max-width: 500px) {
  .widget.c-reviews.c-reviews-template-11 .widget-send {
    padding: 6px;
  }
  .widget.c-reviews.c-reviews-template-11 .widget-all-desktop {
    display: none;
  }
  .widget.c-reviews.c-reviews-template-11 .widget-all-mobile {
    display: block;
  }
  .widget.c-reviews.c-reviews-template-11 .widget-items {
    padding-left: 0;
    padding-right: 0;
  }
  .widget.c-reviews.c-reviews-template-11 .widget-items {
    padding-left: 0;
    padding-right: 0;
  }
  .widget.c-reviews.c-reviews-template-11 .widget-item-wrapper {
    padding: 15px;
  }
  .widget.c-reviews.c-reviews-template-11 .widget-item-description {
    position: relative;
    margin-top: 12px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
  }
  .widget.c-reviews.c-reviews-template-11 .widget-item-description:before {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
