@import './../../../../sources/styles/include.scss';

$namespace: 'bitrix';
$component: 'news-list';
$template: 'shares-blocks-1';

$loader: #{$component}-loader;
$item: #{$component}-item;

@keyframes c-#{$component}-#{$template} {
  from {
    @include transform-translate(-100%, -100%);
  }
  to {
    @include transform-translate(100%, 100%);
  }
}

@mixin webkit-box ($lines, $line-height) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  max-height: #{$lines * $line-height}px;
}

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  .#{$component}-description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 24px;
  }

  .#{$loader} {
    position: relative;
    background-color: #E8E8E8;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      background: linear-gradient(135deg, rgba(0, 0, 0, 0) 35%, rgba(255, 255, 255, 0.85) 50%, rgba(0, 0, 0, 0) 65%);
      z-index: 1;
      animation-name: c-#{$component}-#{$template};
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }
  .#{$loader}-timer-item {
    width: 52px;
    height: 29px;
    @extend %border-radius-2px;
  }

  .#{$item} {
    position: relative;
    overflow: hidden;
    @include border-radius(4px);
  }
  .#{$item}-content {
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 1;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, rgba(224, 224, 224, 0) 100%);
      opacity: 0;
      z-index: 2;
      @include transition(.35s, opacity);
    }
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
  .#{$item}-picture {
    display: block;
    position: relative;
    padding-top: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;

    &[data-lazyload-use='true'] {
      background-color: #F2F2F2;
    }
  }
  .#{$item}-information {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px 24px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 35%, rgba(224, 224, 224, 0) 100%);
    z-index: 3;
  }
  .#{$item}-name {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.34;
    color: #FFF;
    @include webkit-box(3, 24);
  }
  .#{$item}-duration {
    display: block;
    font-size: 14px;
    line-height: 1.29;
    color: #FFF;
    margin-top: 16px;
  }
  .#{$item}-additional {
    display: block;
    position: absolute;
    top: 32px;
    left: 24px;
    right: 24px;
    z-index: 2;
    pointer-events: none;
  }
  .#{$item}-additional-block {
    overflow: hidden;

    & + .#{$item}-additional-block {
      margin-top: 8px;
    }
  }
  .#{$item}-discount {
    font-size: 14px;
    line-height: 1;
    color: #FFF;
    padding: 9px 12px;
    @extend %border-radius-2px;
  }
  .#{$item}-discount-part {
    & + .#{$item}-discount-part {
      padding-left: 4px;
    }
  }

  %border-radius-2px {
    @include border-radius(2px);
  }

  @include breakpoint-1024() {
    .#{$item}-picture {
      padding-top: 100%;
    }
  }
  @include breakpoint-768() {
    .#{$item}-picture {
      padding-top: 100% / 16 * 9;
    }
  }
  @include breakpoint-custom(500) {
    .#{$item}-picture {
      padding-top: 100%;
    }
    .#{$item}-name {
      font-size: 16px;
      line-height: 1.25;
      @include webkit-box(3, 20);
    }
    .#{$item}-information {
      padding: 16px;
    }
    .#{$item}-additional {
      top: 16px;
      left: 16px;
      right: 16px;
    }
  }
}