.adm-submenu-item-link-icon.seo-menu-icon {
    background: url('../images/icons.png') no-repeat center 0;
}
.adm-submenu-item-link-icon.seo-menu-icon-texts {
    background: url('../images/icons.png') no-repeat center -28px;
}
.adm-submenu-item-link-icon.seo-menu-icon-texts-patterns {
    background: url('../images/icons.png') no-repeat center -56px;
}
.adm-submenu-item-link-icon.seo-menu-icon-texts-generator {
    background: url('../images/icons.png') no-repeat center -84px;
}
.adm-submenu-item-link-icon.seo-menu-icon-filter {
    background: url('../images/icons.png') no-repeat center -112px;
}
.adm-submenu-item-link-icon.seo-menu-icon-filter-conditions {
    background: url('../images/icons.png') no-repeat center -140px;
}
.adm-submenu-item-link-icon.seo-menu-icon-filter-conditions-generators {
    background: url('../images/icons.png') no-repeat center -168px;
}
.adm-submenu-item-link-icon.seo-menu-icon-filter-url {
    background: url('../images/icons.png') no-repeat center -196px;
}
.adm-submenu-item-link-icon.seo-menu-icon-filter-visits {
    background: url('../images/icons.png') no-repeat center -224px;
}
.adm-submenu-item-link-icon.seo-menu-icon-filter-sitemap {
    background: url('../images/icons.png') no-repeat center -252px;
}
.adm-submenu-item-link-icon.seo-menu-icon-filter-debug {
    background: url('../images/icons.png') no-repeat center -280px;
}
.adm-submenu-item-link-icon.seo-menu-icon-sites-settings {
    background: url('../images/icons.png') no-repeat center -308px;
}
.adm-submenu-item-link-icon.seo-menu-icon-iblocks {
    background: url('../images/icons.png') no-repeat center -336px;
}
.adm-submenu-item-link-icon.seo-menu-icon-iblocks-metadata-templates {
    background: url('../images/icons.png') no-repeat center -364px;
}
.adm-submenu-item-link-icon.seo-menu-icon-iblocks-elements-names-templates {
    background: url('../images/icons.png') no-repeat center -364px;
}